@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  font-style: inherit; font-size: 100%; font-family: inherit; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; overflow: auto;}
caption, th, td { font-weight: normal; }
a img, iframe { border: none; padding: 0px;}
ol, ul, li { list-style: none; }
input, textarea, select, button { font-size: 100%; box-shadow:none; margin: 0; padding: 0; -webkit-appearance: none;}
select { margin: inherit; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
div,a,p,label{max-height: 999999px; color: #494949;}
ol { margin-left:2em; }
em{ font-style:normal}
body{background-color: #f3f3f3; font-family: 'PingFang','苹方','STHeitiSC-Light','MicrosoftYaHei','微软雅黑'; text-align: left; color: #494949; -webkit-text-size-adjust: none;}
a{text-decoration:none; -webkit-tap-highlight-color: rgba(255,255,255,0);}
a,a:link,a:visited,a:hover,a:active{ color: inherit; cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
button{padding: 0px; margin: 0px; border: 0px; cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0); text-align: center; font-family: 'PingFang','苹方','STHeitiSC-Light','MicrosoftYaHei','微软雅黑';}
input:-webkit-autofill { background-color: none; } 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-ms-touch-action: manipulation;touch-action: manipulation;}

/*基础样式*/
.hidden{visibility: hidden;}
.opacity{opacity: 0 !important;}
.clear{clear: both;}
.transform{ transform: translateY(-150%); -ms-transform: translateY(-150%); -webkit-transform: translateY(-150%); -o-transform: translateY(-150%); -moz-transform: translateY(-150%);}

/*开始*/
html{
	height: 100%;
}
body{
	min-height: 100%;
	padding: 30px 0 120px;
	background: url(http://static.dlfyb.com/transfer/img/image_common_bg_n.jpg) no-repeat center; background-size: cover;
	text-align: center;
	box-sizing: border-box;
}
img.title{
	max-width: 100%; width: 660px;
	margin: 0 auto 80px;
	display: block;
}

input{
	height: 52px; width: 520px;
	margin: 0 auto 90px; padding: 29px 20px;
	border-radius: 12px; border: 2px solid #94ec75;
	background: rgba(219,200,86,0.3);
	font-size: 36px; line-height: 52px; text-align: center; color: #fffefb;
	display: block;
}
input::-webkit-input-placeholder {
	color: #fffefb;
}

button{
	width: 480px; height: 120px;
	margin: 0 auto;
	display: block;
}
button#Apply{
	background: url(http://static.dlfyb.com/transfer/img/button_apply_n.png) no-repeat center; background-size: cover;
}
button#Again{
	background: url(http://static.dlfyb.com/transfer/img/button_again_n.png) no-repeat center; background-size: cover;
}
button#Wanna{
	background: url(http://static.dlfyb.com/transfer/img/button_wanna_n.png) no-repeat center; background-size: cover;
}

a.rank{
	margin: 100px auto 0;
	font-size: 32px; line-height: 64px; text-align: center; color: #ffc73d;
	display: inline-block;
}
a.rank:before, a.rank:after{
	width: 40px; height: 64px;
	padding: 0 20px;
	background: url(http://static.dlfyb.com/transfer/img/icon_crown_n.png) no-repeat center; background-size: 40px;
	vertical-align: top;
	display: inline-block;
	content: '';
}
#Result a.rank{
	margin-top: 60px;
}

/*loading*/
#Loading{
	height: 440px;
	margin-top: -330px; padding: 208px 12.5% 196px;
	border: 2px solid #ff916d;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	position: fixed; top: 50%; left: 8%; right: 8%; z-index: 10;
	transition: transform 0.3s, visibility 0.3s; -moz-transition: transform 0.3s, visibility 0.3s; -webkit-transition: transform 0.3s, visibility 0.3s; -o-transition: transform 0.3s, visibility 0.3s;
}
#Loading.hidden{
	transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0); -o-transform: scale(0); -moz-transform: scale(0);
}
#Loading p.title{
	font-size: 36px; line-height: 40px; text-align: center; color: #ec5c20;
	position: absolute; top: 84px; left: 0; right: 0;
	overflow: visible;
}
#Loading p.title span{
	height: 50px;
	padding-left: 6px;
	font-size: 50px; text-align: left; vertical-align: top;
	position: absolute; overflow: hidden;
	animation: load 1.5s infinite; -moz-animation: load 1.5s infinite; -webkit-animation: load 1.5s infinite; -o-animation: load 1.5s infinite;
	content: '···';
}
@keyframes load{
	0% {width: 0;}
	25% {width: 11px;}
	50% {width: 22px;}
	75% {width: 33px;}
	100% {width: 44px;}
}
@-moz-keyframes load{
	0% {width: 0;}
	25% {width: 11px;}
	50% {width: 22px;}
	75% {width: 33px;}
	100% {width: 44px;}
}
@-webkit-keyframes load{
	0% {width: 0;}
	25% {width: 11px;}
	50% {width: 22px;}
	75% {width: 33px;}
	100% {width: 44px;}
}
@-o-keyframes load{
	0% {width: 0;}
	25% {width: 11px;}
	50% {width: 22px;}
	75% {width: 33px;}
	100% {width: 44px;}
}
#Loading .line{
	height: 36px;
	border-radius: 18px;
	background: #5a3b2c;
	overflow: hidden;
}
#Loading .line p{
	height: 36px;
	border-radius: 18px;
	background-image: linear-gradient(to right, #f3862a, #e32013);
	float: left;
}

/*结果*/
.welcome{
	height: 48px;
	background: url(http://static.dlfyb.com/transfer/img/image_logo_n.png) no-repeat center; background-size: 150px;
	/*opacity: 0.4;
	font-size: 56px; line-height: 60px; text-align: center; color: #F8C16D;*/
	position: fixed; top: 30px; left: 0; right: 0;
}

#Result{
	width: 660px;
	margin-left: -330px;
	position: fixed; top: 134px; left: 50%;
}
#Result:before{
	width: 588px; height: 50px;
	margin-left: -294px;
	border-radius: 4px;
	background: rgba(255,255,255,0.16);
	position: absolute; top: -36px; left: 50%; z-index: -1;
	content: '';
}
#Result:after{
	width: 620px; height: 50px;
	margin-left: -310px;
	border-radius: 4px;
	background: rgba(255,255,255,0.4);
	position: absolute; top: -22px; left: 50%; z-index: -1;
	content: '';
}
#Result .inner{
	margin-bottom: 70px;
	border-radius: 4px;
	background: url(http://static.dlfyb.com/transfer/img/index.jpg) no-repeat right top #fff; background-size: 140px;
	/*background: #fff;*/
	position: relative; z-index: 1;
}
#Result .inner .info{
	height: 260px;
	padding: 0 40px 0 32px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
}
#Result .inner .info p{
	height: 40px;
	padding: 20px 0 0 160px;
	font-size: 32px; line-height: 40px; text-align: left; color: #2C607D; font-weight: bold;
	overflow: hidden;
	position: relative;
}
#Result .inner .info p.name{
	max-height: 80px; min-height: 40px; height: auto;
	padding-right: 100px;
	color: #982525;
}
#Result .inner .info p:before{
	height: 40px;
	color: #544F41; font-weight: normal;
	position: absolute; top: 20px; left: 0;
}
#Result .inner .info p.name:before{
	content: '转会球员：'
}
#Result .inner .info p.club:before{
	content: '转向球队：'
}
#Result .inner .info p.cost:before{
	content: '转会费用：'
}
#Result .inner .content{
	padding: 100px 30px 140px 30px;
	border-radius: 0 0 4px 4px;
	/*background: url(http://static.dlfyb.com/transfer/img/123.png) no-repeat right bottom #982525; background-size: 120px;*/
	background: #982525;
	position: relative;
}
#Result .inner .content:before{
	width: 166px; height: 50px;
	background: rgba(227,146,58,0.4);
	position: absolute; top: 30px; left: 44px;
	content: '';
}
#Result .inner .content:after{
	height: 50px;
	padding: 0 13px;
	background: #E3923A;
	font-size: 28px; line-height: 50px; color: #982525;
	position: absolute; top: 20px; left: 34px;
	content: '赛季展望：';
}
#Result .inner .content p{
	font-size: 32px; line-height: 48px; text-align: left; color: #F0EADD;
}
#Result .inner .content .money{
	width: 250px; height: 88px;
	margin-left: -125px;
	padding: 0 30px 0 70px;
	background: url(http://static.dlfyb.com/transfer/img/icon_pen_n.png) no-repeat 26px center #fff; background-size: 34px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.50);
	border-radius: 44px;
	font-size: 30px; line-height: 88px; color: #982525;
	position: absolute; left: 50%; bottom: 30px;
	box-sizing: border-box;
}

/*签字费*/
#Money{
	background: rgba(0,0,0,0.5);
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 5;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
}
#Money .inner{
	width: 90%;
	padding: 80px 150px 0; margin: 0 auto 20%;
	border-radius: 4px;
	background: #fff;
	position: relative;
	box-sizing: border-box;
}
#Money .inner.hid{
	transform: translateY(200%); -ms-transform: translateY(200%); -webkit-transform: translateY(200%); -o-transform: translateY(200%); -moz-transform: translateY(200%);
}
#Money .inner button{
	width: 50px; height: 50px;
	background: url(http://static.dlfyb.com/transfer/img/icon_delete_n.png) no-repeat center; background-size: 50px;
	position: absolute; top: 30px; right: 30px;
}
#Money .inner img{
	width: 100%;
	margin: 0 auto 70px;
	display: block;
}
#Money .inner p{
	padding-bottom: 46px; margin: 0 -140px;
	font-size: 32px; line-height: 52px; text-align: center; color: #2F5D82;
}
#Money .inner p span{
	font-size: 36px; line-height: 58px; color: #5B1005;
	display: block;
}

/*动画效果*/
img.title.opacity, input.opacity, button.opacity, .rank.opacity{
	transform: translateY(-40px); -ms-transform: translateY(-40px); -webkit-transform: translateY(-40px); -o-transform: translateY(-40px); -moz-transform: translateY(-40px);
}
img.title, input, button, .rank, .welcome{
	transition: opacity 1s, transform 1s; -moz-transition: opacity 1s, transform 1s; -webkit-transition: opacity 1s, transform 1s; -o-transition: opacity 1s, transform 1s;
}
#Result{
	transition: transform 1s; -moz-transition: transform 1s; -webkit-transition: transform 1s; -o-transition: transform 1s;	
}
#Money .inner{
	transition: transform 0.6s; -moz-transition: transform 0.6s; -webkit-transition: transform 0.6s; -o-transition: transform 0.6s;	
}
input{
	transition-delay: 0.15s;
}
button#Apply{
	transition-delay: 0.3s;	
}
button#Again, button#Wanna{
	transition-delay: 0.15s;	
}
.rank{
	transition-delay: 0.45s;
}
#Result .rank{
	transition-delay: 0s;
}



/*广告*/
a.banner{
	height: 120px;
	position: fixed; bottom: 0; left: 0; right: 0;
}
a.banner img{
	width: 100%;
	display: block;
}










/*加载及状态弹框*/
div#Alert{
	background: rgba(0,0,0,0.1);
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 300; /*Loading等状态alert框高度300*/
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; /*适配各个浏览器*/
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; /*适配各个浏览器*/
	display: flex; align-items: center;
}
div#Alert[status=error]{
	background: rgba(0,0,0,0);
}
div#Alert > div.loading, div#Alert > div.success{
	width: 220px; height: 36px;
	padding: 114px 20px 26px; margin: -88px 0 0 -130px;
	border-radius: 4px;
	background: #fff;
	font-size: 26px; line-height: 36px; text-align: center; color: #2B3D45;
	position: absolute; top: 50%; left: 50%;
	visibility: hidden;
	opacity: 0; filter:Alpha(opacity=0);
	-ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert > div.error{
	max-width: 400px;
	padding: 18px 30px; margin: 0 auto;
	background: rgba(0,0,0,0.8);
	border-radius: 4px;
	font-size: 26px; line-height: 36px; text-align: center; color: #fff;
	visibility: hidden;
	opacity: 0; filter:Alpha(opacity=0);
	-ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert.hidden > div.loading, div#Alert.hidden > div.success, div#Alert.hidden > div.error{
	-ms-transform: scale(1.1) !important; -webkit-transform: scale(1.1) !important; -o-transform: scale(1.1) !important; -moz-transform: scale(1.1) !important; transform: scale(1.1) !important;
	opacity: 0 !important; filter:Alpha(opacity=0) !important;
}
div#Alert > div.loading:before, div#Alert > div.success:before{
	width: 64px; height: 64px;
	margin-left: -32px;
	position: absolute; top: 30px; left: 50%;
	content: '';
}
div#Alert[status=loading] > div.loading, div#Alert[status=success] > div.success, div#Alert[status=error] > div.error{
	visibility: inherit;
	opacity: 1; filter:Alpha(opacity=100);
	-ms-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1); transform: scale(1);
}
div#Alert > div.loading:before{
	background: url(../../img/customer2/icon_loading_ring.png) no-repeat center; background-size: 64px;
	-moz-animation: loading 0.5s linear infinite; -webkit-animation: loading 0.5s linear infinite; -o-animation: loading 0.5s linear infinite; animation: loading 0.5s linear infinite;
}
div#Alert > div.success:before{
	background: url(../../img/customer2/icon_loading_draw.png) no-repeat center; background-size: 64px;
	-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert[status=success] > div.success:before{
	-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);
}

@keyframes loading{
	from {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}
	to {-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg);}
}

/*自适应*/
@media screen and (max-height: 1100px){
	#Result .inner{
		margin-bottom: 54px;
	}
	#Result a.rank{
		margin-top: 40px;
	}
}














