
#Part_parent{
	font-size: 0; line-height: 0;
}

/*左侧*/
#Left_part{
	width: 676px;
	padding-right: 20px;
	display: inline-block;
	vertical-align: top;
}

/*左侧赛程*/
#Left_part table.match{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 12px;
	background: #fff;
}
#Left_part table.match + table.match{
	margin-top: -10px;
}
#Left_part table.match td{
	height: 50px;
	font-size: 13px; line-height: 20px; text-align: center;
}
#Left_part table.match tr + tr td{
	border-top: 1px solid #e1e1e1;
}
#Left_part table.match td.host{
	text-align: right;
}
#Left_part table.match td.away{
	text-align: left;
}
#Left_part table.match td.vs{
	color: #686868;
}
#Left_part table.match td span{
	color: #9b9b9b;
}
#Left_part table.match td span.living{
	color: #d0021b;
}
#Left_part table.match td a.record, #Left_part table.match td a.live{
	color: #0054dd;
}
#Left_part table.match td a.live{
	margin: 0 6px;
	display: inline-block;
}
#Left_part table.match td.line{
	height: 40px;
	padding: 5px 0 5px 20px;
	text-align: left;
}
#Left_part table.match td img.type{
	width: 24px; height: 24px;
	margin: 0 auto;
	display: block;
}

/*左侧资讯*/
#Left_part .news_list{
	padding: 6px 8px 20px;
	border-radius: 12px;
	background: #fff;
	font-size: 0; line-height: 0;
}
#Left_part .news_list .news_con{
	width: 50%;
	margin-top: 14px;
	display: inline-block;
}
#Left_part .news_list .news_con a{
	height: 84px;
	margin: 0 5px; padding-left: 132px;
	border-radius: 8px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	display: block;
}
#Left_part .news_list .news_con .img_box{
	width: 126px; height: 84px;
	position: absolute; top: 0; left: 0;
	overflow: hidden;
}
#Left_part .news_list .news_con .img_box img{
	min-width: 126px; min-height: 84px; max-width: 150px; max-height: 100px;
	margin: -42px 0 0 -63px;
	transition: transform 0.3s; -ms-transition: -ms-transform 0.3s; -moz-transition: -moz-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -o-transition: -o-transform 0.3s;
	position: absolute; top: 50%; left: 50%;
}
#Left_part .news_list .news_con a:hover .img_box img{
	transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1);
}
#Left_part .news_list .news_con h5{
	max-height: 40px;
	padding: 10px 6px 0 0;
	font-size: 14px; line-height: 20px; font-weight: normal;
	overflow: hidden;
}
#Left_part .news_list .news_con .other_info{
	font-size: 12px; line-height: 18px; color: #9b9b9b;
	position: absolute; bottom: 6px; left: 132px;
}
#Left_part .news_list .news_con .tag_list{
	height: 18px;
	padding-left: 18px;
	background: url(/img/pc/v2/icon_tag_n.png) no-repeat left center; background: url(/img/pc/v2/icon_tag_n_12.png) no-repeat left center\9; background-size: 12px;
	position: absolute; bottom: 6px; left: 180px; right: 6px;
	overflow: hidden;
}
:root #Left_part .news_list .news_con .tag_list{
	background: url(/img/pc/v2/icon_tag_n.png) no-repeat left center; background-size: 12px;
}
#Left_part .news_list .news_con .tag_list span{
	font-size: 12px; line-height: 18px; color: #9b9b9b;
	display: inline-block;
}
#Left_part .news_list .news_con .tag_list span + span{
	margin-left: 6px;
}

/*左侧视频*/
#Left_part .video_list{
	padding: 6px 20px 20px;
	border-radius: 12px;
	background: #fff;
	font-size: 0; line-height: 0;
}
#Left_part .video_list .list_item{
	width: 33.333%;
	display: inline-block;
}
#Left_part .video_list .list_item a{
	margin: 14px 5px 0;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: block;
}
#Left_part .video_list .list_item .img_box{
	height: 112px;
	position: relative;
	overflow: hidden;
}
#Left_part .video_list .list_item .img_box img{
	min-width: 242px; min-height: 112px; max-width: 290px; max-height: 135px;
	margin: -56px 0 0 -121px;
	transition: transform 0.3s; -ms-transition: -ms-transform 0.3s; -moz-transition: -moz-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -o-transition: -o-transform 0.3s;
	position: absolute; top: 50%; left: 50%;
}
#Left_part .video_list .list_item a:hover .img_box img{
	transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1);
}
#Left_part .video_list .list_item .title_text{
	height: 40px;
	padding: 5px 10px 0; margin-bottom: 5px;
	font-size: 13px; line-height: 20px;
	overflow: hidden;
}
#Left_part .video_list .list_item .title_text p{
	height: 40px; width: 100%;
	display: table;
}
#Left_part .video_list .list_item .title_text span{
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

/*左侧排名*/
#Left_part table.rank{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 12px;
	background: #fff;
	overflow: hidden;
}
#Left_part table.rank + table.rank{
	margin-top: -10px;
}
#Left_part table.rank th{
	height: 32px;
	font-size: 12px; line-height: 20px; text-align: center; color: #686868;
}
#Left_part table.rank td{
	height: 32px;
	border-top: 1px solid #e1e1e1;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Left_part table.rank tr:nth-child(odd) td{
	background: #fbfbfb;
}
#Left_part table.rank .team{
	padding-left: 25px;
	text-align: left;
	position: relative;
}
#Left_part table.rank .team img{
	width: 22px; height: 22px;
	margin-top: -11px;
	position: absolute; top: 50%; left: 0;
}

/*左侧数据表格*/
#Left_part .data_con{
	padding: 20px 18px;
	border-radius: 12px;
	background: #fff;
	font-size: 0; line-height: 0; text-align: center;
}
#Left_part .data_con .con_in{
	vertical-align: top;
	display: inline-block;
}
#Left_part .data_con .con_in .title{
	height: 24px;
	margin-bottom: 10px; padding: 0 10px;
}
#Left_part .data_con .con_in.left .title{
	margin-right: 16px;
}
#Left_part .data_con .con_in .title h4{
	font-size: 16px; line-height: 24px;
	float: left;
}
#Left_part .data_con .con_in .title .tab_item{
	height: 24px;
	margin-left: 14px;
	font-size: 14px; line-height: 24px; text-align: center; color: #686868;
	cursor: pointer;
	float: right;
}
#Left_part .data_con .con_in .title .tab_item:hover{
	color: #0054dd;
}
#Left_part .data_con .con_in .title .tab_item.on{
	color: #0054dd; font-weight: 600;
}
#Left_part .data_con .con_in .tab_box{
	padding: 0 10px;
}
#Left_part .data_con .con_in table{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
#Left_part .data_con .con_in table th{
	height: 30px;
	font-size: 12px; line-height: 30px; text-align: center; color: #686868;
}
#Left_part .data_con .con_in table th:first-child{
	padding-left: 20px;
	text-align: left;
}
#Left_part .data_con .con_in table td{
	height: 32px;
	border-top: 1px solid #e1e1e1;
	font-size: 12px; line-height: 20px; text-align: center;
}
#Left_part .data_con .con_in table td:first-child{
	padding-left: 10px;
	text-align: left;
}
#Left_part .data_con .con_in table tr:nth-child(odd) td{
	background: #fbfbfb;
}

/*左侧淘汰赛*/
#Left_part .knockout_con{
	padding: 0 8px 40px; margin-bottom: 20px;
	border-radius: 12px;
	background: #fff;
	font-size: 0; line-height: 0; text-align: center;
	position: relative;	
}
#Left_part .knockout_con.basketball{
	padding-top: 130px;
}
#Left_part .knockout_con.football{
	padding-top: 40px;
}
#Left_part .knockout_con .round_con{
	width: 16.666%;
	position: relative;
	vertical-align: top;
	display: inline-block;
}
#Left_part .knockout_con .round_con .match_con{
	margin: 0 10px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative; z-index: 2;
}
#Left_part .knockout_con .round_con .match_con + .match_con{
	margin-top: 20px;
}
#Left_part .knockout_con .round_con .match_con p{
	height: 32px;
	padding: 0 6px 0 8px;
	font-size: 12px; line-height: 32px; text-align: left;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
#Left_part .knockout_con .round_con .match_con p b{
	margin-left: 5px;
	font-size: 16px; color: #9b9b9b; float: right;
}
#Left_part .knockout_con .round_con .match_con p b.win{
	color: #282828;
}
#Left_part .knockout_con .round_con .line_left_con{
	border: 1px solid #e1e1e1; border-left: none;
	position: absolute; right: 0; z-index: 1;
}
#Left_part .knockout_con .round_con .line_right_con{
	border: 1px solid #e1e1e1; border-right: none;
	position: absolute; left: 0; z-index: 1;
}
#Left_part .knockout_con .round_con .line_con{
	border-top: 1px solid #e1e1e1;
	position: absolute; right: 0; z-index: 1;
}
#Left_part .knockout_con .finals_match{
	width: 200px;
	margin-left: -100px;
	border-radius: 12px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: absolute; top: 68px; left: 50%;
}
#Left_part .knockout_con.basketball .finals_match{
	height: 230px;
}
#Left_part .knockout_con.football .finals_match{
	padding: 10px 0;
}
#Left_part .knockout_con.basketball .finals_match{
	background: url(/img/pc/v2/bg_basketball_n.jpg) no-repeat center top #001e4f; background: none\9; background-size: 200px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg_basketball_n.png',sizingMethod='scale');
}
:root #Left_part .knockout_con.basketball .finals_match{
	background: url(/img/pc/v2/bg_basketball_n.jpg) no-repeat center top #001e4f; background-size: 200px;
	filter: none;
}
#Left_part .knockout_con.football .finals_match{
	background: url(/img/pc/v2/bg_football_n.jpg) no-repeat center top #001e4f; background: none\9; background-size: 200px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg_football_n.png',sizingMethod='scale');
}
:root #Left_part .knockout_con.football .finals_match{
	background: url(/img/pc/v2/bg_football_n.jpg) no-repeat center top #001e4f; background-size: 200px;
	filter: none;
}
#Left_part .knockout_con .finals_match:before{
	width: 1px;
	background: #e1e1e1;
	position: absolute; left: 50%;
	content: '';
}
#Left_part .knockout_con.basketball .finals_match:before{
	height: 51px;
	bottom: -51px;
}
#Left_part .knockout_con.football .finals_match:before{
	height: 88px;
	bottom: -88px;
}
#Left_part .knockout_con .finals_match img.cup{
	width: 40px; height: 48px;
	margin-left: -20px;
	position: absolute; top: -48px; left: 50%;
}
#Left_part .knockout_con .finals_match .team_con{
	padding: 16px 18px 12px;
	font-size: 0; line-height: 0;
}
#Left_part .knockout_con .finals_match .team_con p{
	vertical-align: top;
	display: inline-block;
}
#Left_part .knockout_con .finals_match .team_con p.score{
	width: 80px; height: 56px;
	font-size: 24px; line-height: 42px; text-align: center; color: #f25223; font-weight: bold;
	position: relative;
}
#Left_part .knockout_con .finals_match .team_con p.score:before{
	width: 8px; height: 3px;
	margin: -8px 0 0 -4px;
	background: #f25223;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
#Left_part .knockout_con .finals_match .team_con p.team{
	width: 42px; height: 56px;
}
#Left_part .knockout_con .finals_match .team_con p.team img{
	width: 26px; height: 26px;
	margin: 0 auto 4px; padding: 2px;
	border: 1px solid #f25223; border-radius: 50%;
	background: #fff;
	display: block;
}
#Left_part .knockout_con .finals_match .team_con p.team span{
	height: 20px;
	margin: 0 -10px;
	font-size: 13px; line-height: 20px; text-align: center; color: #fff;
	overflow: hidden;
	display: block;
}
#Left_part .knockout_con .finals_match ul{
	margin-top: -4px;
}
#Left_part .knockout_con .finals_match ul li{
	height: 16px;
	padding: 4px 2px 0;
	font-size: 0; line-height: 0; text-align: center; color: #fff;
	overflow: hidden;
}
#Left_part .knockout_con .finals_match ul li p{
	height: 16px;
	font-size: 12px; line-height: 16px;
	vertical-align: top;
	display: inline-block;
}
#Left_part .knockout_con .finals_match ul li a:hover p{
	color: #f25223 !important;
}
#Left_part .knockout_con .finals_match ul li p.icon{
	width: 15px;
}
#Left_part .knockout_con .finals_match ul li p.icon img{
	height: 12px;
	margin: 2px auto;
	display: block;
}
#Left_part .knockout_con .finals_match ul li p.host{
	width: 49px;
	padding-right: 3px;
	text-align: right;
}
#Left_part .knockout_con .finals_match ul li p.away{
	width: 49px;
	padding-left: 3px;
	text-align: left;
}
#Left_part .knockout_con .finals_match ul li p.score{
	width: 28px;
}
#Left_part .knockout_con .finals_match ul li p.vs{
	width: 6px;
}


/*右侧*/
#Right_part{
	width: 328px;
	display: inline-block;
	vertical-align: top;
}

/*公众号*/
#Right_part .app_banner{
	margin-bottom: 20px;
	border-radius: 12px;
	overflow: hidden;
}
#Right_part .app_banner img{
	width: 100%;
}

/*右侧banner入口*/
#Right_part .banner_entra{
	height: 86px;
	margin-bottom: 20px; padding: 14px 0 0 112px;
	border-radius: 12px;
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
}
#Right_part .banner_entra img{
	width: 100px; height: 100px;
	position: absolute; top: 0; left: 0;
}
#Right_part .banner_entra h3{
	max-height: 48px;
	margin-bottom: 10px;
	font-size: 16px; line-height: 24px;
	overflow: hidden;
}
#Right_part .banner_entra p{
	font-size: 13px; line-height: 24px; color: #282828;
}
#Right_part .banner_entra p span{
	padding-right: 20px;
	color: #686868;
}

/*右侧共用头部*/
#Right_part .con_box{
	margin-bottom: 20px;
	border-radius: 12px;
	background: #fff;
	overflow: hidden;
}
#Right_part .con_box .header_con{
	height: 40px;
	padding: 0 16px;
	border-bottom: 1px solid #e1e1e1;
	overflow: hidden;
}
#Right_part .con_box .header_con h4{
	font-size: 14px; line-height: 40px;
	float: left;
}
#Right_part .con_box .header_con a{
	font-size: 12px; line-height: 40px; color: #0054dd;
	float: right;
}
#Right_part .con_box .header_con a + a{
	margin-right: 20px;
}

/*右侧直播*/
#Right_part .live{
	min-height: 100px;
	position: relative;
}
#Right_part .live:before{
	width: 37px; height: 24px;
	margin: -30px 0 0 -18px; padding-top: 37px;
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background: url(/img/pc/v2/loading_bg_s.png) no-repeat center\9; background-size: 37px;
	font-size: 12px; line-height: 24px; text-align: center; color: #9b9b9b;
	position: absolute; top: 50%; left: 50%;
	content: '加载中';
}
:root #Right_part .live:before{
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background-size: 37px;
}
#Right_part .live:after{
	width: 37px; height: 37px;
	margin: -30px 0 0 -18px;
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background: url(/img/pc/v2/loading_cover_s.png) no-repeat center\9; background-size: 37px;
	animation: loadingAnt 3s linear infinite; -moz-animation: loadingAnt 3s linear infinite; -webkit-animation: loadingAnt 3s linear infinite; -o-animation: loadingAnt 3s linear infinite; -ms-animation: loadingAnt 3s linear infinite;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
:root #Right_part .live:after{
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background-size: 37px;
}
#Right_part .live.show:before, #Right_part .live.show:after{
	display: none;
}
#Right_part .live .live_item{
	padding: 8px 16px 13px;
	display: none;
}
#Right_part .live.show .live_item{
	display: block;
}
#Right_part .live .live_item + .live_item{
	border-top: 1px solid #e1e1e1;
}
#Right_part .live .live_item .live_match_info{
	font-size: 13px; line-height: 18px; color: #9b9b9b;
}
#Right_part .live .live_item .live_match_info span{
	float: right;
}
#Right_part .live .live_item .live_match_team{
	height: 50px; width: 100%;
	margin-bottom: 2px;
	display: table;
}
#Right_part .live .live_item .live_match_team p{
	height: 50px;
	vertical-align: middle;
	display: table-cell;
}
#Right_part .live .live_item .live_match_team p.team{
	width: 40%;
	font-size: 14px; line-height: 20px; text-align: center;
}
#Right_part .live .live_item .live_match_team p.team span{
	max-height: 40px;
	overflow: hidden;
	display: block;
}
#Right_part .live .live_item .live_match_team p.vs{
	width: 56px;
	font-size: 12px; line-height: 20px; text-align: center; color: #686868;
}
#Right_part .live .live_item .live_match_team p.vs span{
	color: #d0021b;
}
#Right_part .live .live_item .live_match_line{
	/*padding: 0 10px;*/ margin-bottom: -10px;
	text-align: center;
}
#Right_part .live .live_item .live_match_line a{
	height: 24px;
	margin: 0 6px 10px; padding: 0 6px;
	font-size: 12px; line-height: 24px; color: #0054dd;
	display: inline-block;
}

/*右侧视频*/
#Right_part .video{
	min-height: 100px;
	margin-top: -4px; padding: 0 6px 10px;
	font-size: 0; line-height: 0;
	position: relative;
}
#Right_part .video:before{
	width: 37px; height: 24px;
	margin: -30px 0 0 -18px; padding-top: 37px;
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background: url(/img/pc/v2/loading_bg_s.png) no-repeat center\9; background-size: 37px;
	font-size: 12px; line-height: 24px; text-align: center; color: #9b9b9b;
	position: absolute; top: 50%; left: 50%;
	content: '加载中';
}
:root #Right_part .video:before{
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background-size: 37px;
}
#Right_part .video:after{
	width: 37px; height: 37px;
	margin: -30px 0 0 -18px;
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background: url(/img/pc/v2/loading_cover_s.png) no-repeat center\9; background-size: 37px;
	animation: loadingAnt 3s linear infinite; -moz-animation: loadingAnt 3s linear infinite; -webkit-animation: loadingAnt 3s linear infinite; -o-animation: loadingAnt 3s linear infinite; -ms-animation: loadingAnt 3s linear infinite;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
:root #Right_part .video:after{
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background-size: 37px;
}
#Right_part .video.show:before, #Right_part .video.show:after{
	display: none;
}
#Right_part .video .video_item{
	width: 50%;
	vertical-align: top;
	display: none;
}
#Right_part .video.show .video_item{
	display: inline-block;
}
#Right_part .video .video_item a{
	margin: 14px 4px 0;
	overflow: hidden;
	display: block;
}
#Right_part .video .video_item .img_box{
	height: 86px;
	margin-bottom: 6px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
#Right_part .video .video_item .img_box img{
	width: 178px; min-height: 86px;
	margin: -43px 0 0 -89px;
	transition: transform 0.3s; -ms-transition: -ms-transform 0.3s; -moz-transition: -moz-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -o-transition: -o-transform 0.3s;
	position: absolute; top: 50%; left: 50%;
}
#Right_part .video .video_item:hover .img_box img{
	transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1);
}
#Right_part .video .video_item .text_box{
	height: 16px;
	font-size: 12px; line-height: 16px; text-align: center;
	overflow: hidden;
}

/*右侧新闻*/
#Right_part .news{
	min-height: 100px;
	padding: 0 16px 18px;
	position: relative;
}
#Right_part .news:before{
	width: 37px; height: 24px;
	margin: -30px 0 0 -18px; padding-top: 37px;
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background: url(/img/pc/v2/loading_bg_s.png) no-repeat center\9; background-size: 37px;
	font-size: 12px; line-height: 24px; text-align: center; color: #9b9b9b;
	position: absolute; top: 50%; left: 50%;
	content: '加载中';
}
:root #Right_part .news:before{
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background-size: 37px;
}
#Right_part .news:after{
	width: 37px; height: 37px;
	margin: -30px 0 0 -18px;
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background: url(/img/pc/v2/loading_cover_s.png) no-repeat center\9; background-size: 37px;
	animation: loadingAnt 3s linear infinite; -moz-animation: loadingAnt 3s linear infinite; -webkit-animation: loadingAnt 3s linear infinite; -o-animation: loadingAnt 3s linear infinite; -ms-animation: loadingAnt 3s linear infinite;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
:root #Right_part .news:after{
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background-size: 37px;
}
#Right_part .news.show:before, #Right_part .news.show:after{
	display: none;
}
#Right_part .news .img_news{
	height: 80px; width: 100%;
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	display: none;
}
#Right_part .news.show .img_news{
	display: table;	
}
#Right_part .news .img_news .img_box{
	width: 120px; height: 80px;
	position: absolute; top: 0; left: 0;
	overflow: hidden;
}
#Right_part .news .img_news .img_box img{
	min-width: 120px; min-height: 80px; max-width: 144px; max-height: 96px;
	margin: -40px 0 0 -60px;
	transition: transform 0.3s; -ms-transition: -ms-transform 0.3s; -moz-transition: -moz-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; -o-transition: -o-transform 0.3s;
	position: absolute; top: 50%; left: 50%;
}
#Right_part .news .img_news:hover .img_box img{
	transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1);
}
#Right_part .news .img_news h3{
	height: 80px;
	padding: 0 6px 0 126px;
	font-size: 12px; line-height: 18px; font-weight: normal;
	vertical-align: middle;
	display: table-cell;
}
#Right_part .news .text_new{
	height: 18px;
	margin-top: 10px; padding-left: 16px;
	font-size: 12px; line-height: 18px;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	position: relative;
	display: none;
}
#Right_part .news.show .text_new{
	display: block;
}
#Right_part .news .img_news + .text_new{
	margin-top: 20px;
}
#Right_part .news .text_new:before{
	width: 6px; height: 6px;
	margin-top: -3px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; top: 50%; left: 0;
	content: '';
}
#Right_part .news .text_new h4{
	font-weight: normal;
	display: inline;
}

/*右侧录像*/
#Right_part .record{
	width: 100%; min-height: 100px;
	font-size: 12px; line-height: 18px;
	position: relative;
	display: block;
}
#Right_part .record.show{
	display: table;
}
#Right_part .record:before{
	width: 37px; height: 24px;
	margin: -30px 0 0 -18px; padding-top: 37px;
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background: url(/img/pc/v2/loading_bg_s.png) no-repeat center\9; background-size: 37px;
	font-size: 12px; line-height: 24px; text-align: center; color: #9b9b9b;
	position: absolute; top: 50%; left: 50%;
	content: '加载中';
}
:root #Right_part .record:before{
	background: url(/img/pc/v2/loading_bg_s.png) no-repeat center top; background-size: 37px;
}
#Right_part .record:after{
	width: 37px; height: 37px;
	margin: -30px 0 0 -18px;
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background: url(/img/pc/v2/loading_cover_s.png) no-repeat center\9; background-size: 37px;
	animation: loadingAnt 3s linear infinite; -moz-animation: loadingAnt 3s linear infinite; -webkit-animation: loadingAnt 3s linear infinite; -o-animation: loadingAnt 3s linear infinite; -ms-animation: loadingAnt 3s linear infinite;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
:root #Right_part .record:after{
	background: url(/img/pc/v2/loading_cover_s.png) no-repeat center; background-size: 37px;
}
#Right_part .record.show:before, #Right_part .record.show:after{
	display: none;
}
#Right_part .record tr{
	display: none;
}
#Right_part .record.show tr{
	display: table-row;
}
#Right_part .record td{
	height: 56px;
	font-size: 12px; line-height: 18px; text-align: center;
}
#Right_part .record tr + tr td{
	border-top: 1px solid #e1e1e1;
}
#Right_part .record td.time{
	color: #9b9b9b;
}
#Right_part .record td:last-child a{
	color: #0054dd;
}
#Right_part .record td p{
	height: 18px;
	padding: 0 20px 0 26px;
	text-align: left;
	position: relative;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
#Right_part .record td p + p{
	margin-top: 4px;
}
#Right_part .record td p span{
	width: 30px;
	text-align: right;
	float: right;
}
#Right_part .record td p img{
	width: 18px; height: 18px;
	position: absolute; top: 0; left: 0;
}

/*右侧球员排名*/
#Right_part .player_rank{

}
#Right_part .player_rank .rank_tab_box{
	height: 36px;
	padding: 0 8px;
	border-top: 1px solid #e1e1e1; border-bottom: 2px solid #e1e1e1;
	overflow: hidden;
}
#Right_part .player_rank .rank_tab_box p{
	height: 36px;
	margin: 0 8px;
	font-size: 14px; line-height: 36px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
#Right_part .player_rank .rank_tab_box p:hover{
	color: #f25223;
}
#Right_part .player_rank .rank_tab_box p.on{
	color: #f25223; font-weight: 600;
}
#Right_part .player_rank .rank_tab_box p.on:before{
	width: 24px; height: 3px;
	margin-left: -12px;
	background: #f25223;
	position: absolute; bottom: 0; left: 50%;
	content: '';
}
#Right_part .player_rank table{
	width: 100%;
}
#Right_part .player_rank table td{
	height: 56px;
}
#Right_part .player_rank table tr + tr td{
	border-top: 1px solid #e1e1e1;
}
#Right_part .player_rank table tr:nth-child(even) td{
	background: #fbfbfb;
}
#Right_part .player_rank table td.num{
	font-size: 24px; line-height: 36px; text-align: center; font-weight: bold;
}
#Right_part .player_rank table tr:nth-child(3) ~ tr td.num{
	color: #9b9b9b;
}
#Right_part .player_rank table td.score{
	font-size: 14px; line-height: 20px; text-align: center;
}
#Right_part .player_rank table td .name{
	height: 20px;
	margin-bottom: 2px; padding-left: 10px;
	font-size: 14px; line-height: 20px;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
#Right_part .player_rank table td .info{
	height: 18px;
	padding-left: 10px;
	font-size: 12px; line-height: 18px; color: #9b9b9b;
}
#Right_part .player_rank table td span{
	padding-left: 10px;
	font-size: 12px; color: #9b9b9b;
}

/*无内容*/
#Right_part .noList_con{
	height: 30px;
	padding: 90px 0 0;
	background: url(/img/pc/v2/bg_vip_nolist.png) no-repeat center 15px; background: url(/img/pc/v2/bg_vip_nolist_80.png) no-repeat center 15px\9; background-size: auto 70px;
	font-size: 12px; line-height: 30px; text-align: center; color: #9b9b9b;
	display: none;
}
:root #Right_part .noList_con{
	background: url(/img/pc/v2/bg_vip_nolist.png) no-repeat center 15px; background-size: auto 70px;
}
#Right_part .noList_con:first-child{
	display: block;
}


@media screen and (min-width: 1300px){
	#Left_part{
		width: 796px;
		padding-right: 20px;
		vertical-align: top;
	}

	#Right_part{
		width: 384px;
		vertical-align: top;
	}

}



/*loading动画*/
@keyframes loadingAnt
{
from {transform: rotate(0deg); -ms-transform: rotate(0deg);}
to {transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
@-moz-keyframes loadingAnt /* Firefox */
{
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes loadingAnt /* Safari 和 Chrome */
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@-o-keyframes loadingAnt /* Opera */
{
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(360deg);}
}
