
#Content{
	padding-bottom: 20px;
}

#Date{
	
}
#Date .def_content{
	height: 42px; width: 900px;
	padding-right: 124px;
	border-radius: 6px;
	background: #004fcf;
	display: table;
}
#Date a{
	max-width: 90px; height: 42px;
	font-size: 16px; line-height: 42px; text-align: center; color: #fff !important;
	position: relative;
	display: table-cell;
}
#Date a.on:after{
	height: 3px; width: 30px;
	margin-left: -15px;
	background: #fff;
	position: absolute; bottom: 4px; left: 50%;
	content: '';
}
#Date .date{
	width: 80px; height: 26px;
	margin-top: -13px;
	border-radius: 2px;
	background: #fff;
	position: absolute; top: 50%; right: 22px;
	overflow: hidden;
}
#Date .date input{
	width: 80px; height: 26px;
	font-size: 12px; line-height: 26px; text-align: center; color: #0054dd;
	cursor: pointer;
}
#Date .date input::-webkit-input-placeholder {
	color: #0054dd;
}
#Date.fix{
	background: #004fcf;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	position: fixed; top: 0; left: 0; right: 0; z-index: 10;
}
#Date.fix + #Content{
	padding-top: 58px;
}

/*栏目*/
.el_con{
	padding-top: 20px; margin-bottom: 0;
}

.el_con table{
	width: 100%;
	border-radius: 12px;
	background: #fff;
}
.el_con table td{
	height: 50px;
	border-top: 1px solid #e1e1e1;
	font-size: 14px; line-height: 20px;
}
.el_con table td:first-child{
	padding-left: 15px;
}
.el_con table td:first-child + td{
	color: #9b9b9b; text-align: center;
}
.el_con table td:first-child + td + td{
	color: #9b9b9b; text-align: center;
}
.el_con table td:first-child + td + td + td{
	text-align: right;
}
.el_con table td:first-child + td + td + td + td{
	font-size: 16px; text-align: center;
}
.el_con table td:first-child + td + td + td + td + td{
		
}
.el_con table td:first-child + td + td + td + td + td + td{
	line-height: 24px; text-align: center; color: #0054dd;
}
.el_con table td:first-child + td + td + td + td + td + td{
		
}
.el_con table td img.icon{
	width: 24px; height: 24px;
	margin: 0 auto;
	display: block;
}
.el_con table td img.major{
	width: 54px; height: 20px;
	margin: 0 auto;
	display: block;
}
.el_con table td .live{
	color: #d0021b;
}
.el_con table td.channel a{
	margin-right: 12px;
	display: inline-block;
}
.el_con table td.channel a:hover{
	text-decoration: underline;
}

.el_con table tfoot td{
	height: 60px;
	padding: 140px 0 0 0 !important;
	background: url(/img/pc/v2/bg_vip_nolist.png) no-repeat center 30px; background: url(/img/pc/v2/bg_vip_nolist.png) no-repeat center 30px\9; background-size: 120px;
	vertical-align: top;
	font-size: 14px; line-height: 24px; text-align: center; color: #9b9b9b;
}
:root .el_con table tfoot td{
	background: url(/img/pc/v2/bg_vip_nolist.png) no-repeat center 20px; background-size: 120px;
}



@media screen and (min-width: 1300px){
	#Date .def_content{
		width: 1076px;
	}
}







