body{
	padding: 508px 0 88px;
}


#Video{
	height: 420px;
	padding-top: 150px;
	background: url(http://static.dlfyb.com/img/mobile/image_bg_play_n.jpg) no-repeat center; background-size: cover;
	font-size: 28px; line-height: 40px; text-align: center; color: #fff;
	position: fixed; top: 88px; left: 0; right: 0; z-index: 1;
	box-sizing: border-box;
}
#Video a{
	width: 310px; height: 88px;
	margin: 26px auto 0;
	background: rgba(68,146,253,0.8);
	font-size: 32px; line-height: 88px; text-align: center; color: #fff;
	display: block;
}

#Video iframe{
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	position: absolute; top: 0; left: 0;
}

#Match{
	height: 120px;
	padding: 0 24px;
	background: #fff;
	position: fixed; top: 508px; left: 0; right: 0; z-index: 1;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
}
#Match .vs{
	width: 220px;
}
#Match .vs .time{
	height: 40px;
	margin-bottom: 10px;
	border-radius: 4px;
	background: #ededed;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
#Match .vs .time .minute{
	width: 60px; height: 40px;
	border-radius: 4px;
	background: #a9c0e0;
	font-size: 24px; line-height: 40px; text-align: center; color: #fff;
}
#Match .vs .time .color{
	height: 40px;
	background: url(http://static.dlfyb.com/img/mobile/icon_cloth_n.png) no-repeat; background-size: 36px;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Match .vs .time .color.host{
	padding-left: 10px;
	background-position: right 2px center;
}
#Match .vs .time .color.away{
	padding-right: 10px;
	background-position: 2px center;	
}
#Match .vs .time .color span{
	width: 8px; height: 26px;
	margin-top: 7px;
}
#Match .vs .time .color.host span{
	float: left;
}
#Match .vs .time .color.away span{
	float: right;
}
#Match .vs .score{
	height: 46px;
	position: relative;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
#Match .vs .score:after{
	height: 4px; width: 24px;
	margin: 0 0 0 -12px;
	background: #4492fd;
	position: absolute; top: 50%; left: 50%;
	content: '';
}
#Match .vs .score .host{
	padding-right: 30px;
	font-size: 38px; line-height: 46px; text-align: right; color: #4492fd; font-weight: bold;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Match .vs .score .away{
	padding-left: 30px;
	font-size: 38px; line-height: 46px; text-align: left; color: #4492fd; font-weight: bold;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Match .team{
	position: relative;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Match .team.host{
	padding-left: 80px;
	text-align: left;
}
#Match .team.away{
	padding-right: 80px;
	text-align: right;
}
#Match .team img{
	width: 68px; height: 68px;
	margin-top: -35px;
	border-radius: 50%; border: 1px solid #4492fd;
	position: absolute; top: 50%;
}
#Match .team.host img{
	left: 0;
}
#Match .team.away img{
	right: 0;
}
#Match .team p{
	max-height: 84px;
	font-size: 30px; line-height: 42px;
	overflow: hidden;
}

#Chat{
	padding: 20px 24px;
}
#Match + #Chat{
	margin-top: 120px;
}
#Chat .ev{
	font-size: 30px; line-height: 40px; text-align: left; color: #443f3f;
}
#Chat .ev + .ev{
	margin-top: 20px;
}
#Chat .ev span{
	color: #9e9e9e;
}

#Input{
	height: 64px;
	padding: 12px 150px 12px 40px;
	background: #fff;
	position: fixed; bottom: 0; left: 0; right: 0;
}
#Input input{
	height: 62px; width: 100%;
	border-radius: 4px; border: 1px solid #cfcfcf;
	background: #f2f2f2;
	font-size: 28px; line-height: 62px; text-align: center; color: #443f3f;
}
#Input button{
	height: 64px; width: 150px;
	margin-top: -32px;
	background: none;
	font-size: 32px; line-height: normal; text-align: center; color: #4492fd; font-weight: bold;
	position: absolute; right: 0; top: 50%;
}
#Anchor{
	margin: 66px 45px 0;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: relative; z-index: 0;
	/*position: fixed; top: 694px; bottom: 0; left: 45px; right: 45px;
	overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch;*/
}
#Match + #Anchor{
	margin-top: 186px;
}
#Anchor .info{
	padding: 62px 120px 30px 140px;
	background: url(http://static.dlfyb.com/img/mobile/image_music_n.png) no-repeat right 20px bottom; background-size: 64px;
	position: relative;
}
#Anchor .info:before{
	font-size: 26px; line-height: 30px; text-align: left; color: #9e9e9e;
	position: absolute; top: 30px; left: 170px;
	content: '主播：';
}
#Anchor .info img{
	width: 100px; height: 100px;
	border-radius: 10px;
	position: absolute; top: 30px; left: 40px;
}
#Anchor .info p{
	height: 68px;
	margin-left: -40px; padding-left: 40px;
	border-radius: 10px;
	background: #f0f4f8;
	font-size: 32px; line-height: 68px; text-align: center; color: #443f3f; font-weight: bold;
	overflow: hidden;
}
#Anchor dl{
	border-top: 1px solid #e6e4e4;
}
#Anchor dl dt{
	height: 80px;
	padding-left: 80px;
	font-size: 28px; line-height: 80px; text-align: left; color: #7799c9;
	position: relative;
}
#Anchor dl dt:before{
	width: 14px; height: 26px;
	background: #2e66b4;
	position: absolute; top: 20px; left: 40px;
	content: '';
}
#Anchor dl dt:after{
	width: 14px; height: 20px;
	background: #4492fd;
	opacity: 0.7;
	position: absolute; bottom: 20px; left: 40px;
	content: '';
}
#Anchor dl dd{
	height: 80px;
	padding-left: 40px;
	font-size: 28px; line-height: 80px; text-align: left; color: #443f3f;
	position: relative;
	overflow: hidden;
}
#Anchor dl dd + dd:before{
	height: 1px;
	background: #e6e4e4;
	position: absolute; top: 0; left: 40px; right: 0;
	content: '';
}
#Anchor dl dd span{
	width: 186px;
	padding-right: 30px;
	font-size: 24px; text-align: right; color: #7799c9;
	display: inline-block;
	float: right;
}