img.logo{
	position: absolute;
	display: none;
}

#Info{
	height: 220px;
	padding-top: 10px; margin-bottom: 0;
	border: none;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
	-webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center;
}
#Info .score{
	width: 200px;
	margin-top: -60px;
	font-size: 40px; line-height: 60px; text-align: center;
}
#Info .score p{
	margin: 0 -66px;
	font-size: 60px; line-height: 60px;
	position: relative;
}
#Info .score p:before{
	width: 60px;
	margin-left: -30px;
	position: absolute; top: 0; left: 50%;
	content: '-';
}
#Info .score p span{
	width: 47%;
	display: inline-block;
}
#Info .score p span.host{
	text-align: right;
}
#Info .score p span.away{
	text-align: left;
}
#Info .score p span.host:after,
#Info .score p span.away:before{
	height: 60px; width: 30px;
	display: inline-block;
	content: '';
}
#Info .score button{
	height: 32px;
	margin-top: 36px; padding: 0 10px;
	background: #fff;
	font-size: 24px; color: #999;
}
#Info p.other{
	padding-bottom: 10px;
	font-size: 40px; line-height: 60px; text-align: center;
}

#Info .team{
	height: 200px;
	padding-top: 20px;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Info .team .img{
	width: 80px; height: 80px;
	margin: 0 auto; padding: 10px;
	border-radius: 50%; border: 4px solid #4492fd;
	display: block;
}
#Info .team img{
	width: 76px; height: 76px;
	margin: 0 auto;
	display: block;
}
#Info .team p{
	max-height: 64px;
	padding: 18px 30px 0;
	font-size: 28px; line-height: 32px; text-align: center;
	overflow: hidden;
}

#Video{
	border: none;
	overflow: hidden;
}
#Video .line{
	height: 60px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	overflow: hidden;
}
#Video .line button{
	height: 60px;
	background: #2e70c9;
	font-size: 24px; color: #7598ea;
	position: relative;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Video .line button.on{
	background: #4492fd;
	color: #fff;
}
#Video .line button:first-child:before,
#Video .line button.on:before,
#Video .line button.on + button:before{
	display: none;
}
#Video .line button:disabled{
	color: #999;
}
#Video iframe{
	width: 100%; height: 420px;
	background: #333;
	display: block;
}
#Video .outPlay{
	width: 100%; height: 420px;
	background: url(/img/customer2/bg_video.jpg) no-repeat center; background-size: cover;
	position: relative;
}
#Video .outPlay:before{
	background: rgba(0,0,0,0.5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	content: '';
}
#Video .outPlay img{
	height: 66px;
	padding-top: 155px; margin: 0 auto;
	position: relative; z-index: 1;
	display: block;
}
#Video .outPlay p.reciprocal{
	padding-top: 8px;
	font-size: 24px; line-height: 48px; text-align: center; color: #bdbdbd;
	position: relative; z-index: 1;
}
#Video .outPlay p.reciprocal span{
	font-size: 36px; line-height: 36px; text-align: center; color: #fff;
	display: block;
}
#Video .outPlay p.end{
	padding-top: 8px;
	font-size: 28px; line-height: 48px; text-align: center; color: #bdbdbd;
	position: relative; z-index: 1;
}

.tabbox{
	height: 80px;
	box-shadow: 0 2px 2px 0 rgba(127, 2, 2, 0.17);
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
.tabbox button{
	height: 80px;
	background: #fff;
	font-size: 28px; text-align: center;
	position: relative;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
.tabbox button.on{
	color: #e1223a;
}
.tabbox button.on:before{
	width: 110px; height: 4px;
	margin-left: -55px;
	background: #e1223a;
	position: absolute; bottom: 0; left: 50%;
	content: '';
}

#Content{
	margin-top: 30px;
}
#Content > img{
	width: 300px; height: 300px;
	margin: 0 auto;
	box-shadow: 0 6px 10px 0 rgba(38, 32, 125, 0.5);
	display: block;
}
#Content > p{
	padding-top: 30px;
	font-size: 28px; line-height: 42px; text-align: center; color: #6a6464;
}

ul#Odd{

}
ul#Odd li{
	padding: 24px 0 0 40px;
}
ul#Odd li + li{
	border-top: 1px solid #e6e6e6;
}
ul#Odd li p.name{
	height: 60px;
	font-size: 28px; line-height: 60px; color: #e1223a;
	position: relative;
}
ul#Odd li p.name:before{
	width: 4px; height: 24px;
	margin-top: -12px;
	background: #e1223a;
	position: absolute; top: 50%; left: -14px;
	content: '';
}
ul#Odd li table{
	width: 100%;
}
ul#Odd li table td{
	height: 68px;
	border-top: 1px solid #e6e6e6;
	font-size: 28px; line-height: 40px; text-align: center;
}
ul#Odd li table tr:first-child td{
	border-top: none;
}
ul#Odd li table td:nth-child(1){
	text-align: left; color: #666;
}
ul#Odd li table td p{
	height: 40px;
	padding: 0 20px;
	border-radius: 8px;
	display: inline-block;
}
ul#Odd li table td p.up{
	background: #e1223a;
	color: #fff;
}
ul#Odd li table td p.down{
	background: #1cbc5d;
	color: #fff;
}

dl#Prompt{
	margin: 28px 0 28px 60px; padding: 0 60px 0 24px;
	border-left: 2px solid #d8d8d8;
	position: relative;
}
dl#Prompt dt{
	font-size: 24px; line-height: 24px; color: #999;
}
dl#Prompt dt:last-child{
	padding-top: 60px;
}
dl#Prompt dt:before{
	width: 18px; height: 18px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; left: -10px;
	content: '';
}
dl#Prompt dt:first-child:before{
	top: 0;
}
dl#Prompt dt:last-child:before{
	bottom: 0;
}
dl#Prompt dd{
	padding-top: 60px;
}
dl#Prompt dd:before{
	width: 14px; height: 14px;
	border-radius: 50%; border: 2px solid #d8d8d8;
	background: #fff;
	position: absolute; left: -10px;
	content: '';
}
dl#Prompt dd p.minute{
	font-size: 24px; line-height: 24px; color: #666;
}
dl#Prompt dd p.text{
	margin-top: 8px; padding: 28px;
	background: #f3f3f3;
	font-size: 26px; line-height: 40px; color: #333;
}

dl#Statistics{
	padding: 40px 60px 50px;
}
dl#Statistics dt{
	height: 100px;
	padding-bottom: 60px;
	font-size: 32px; line-height: 100px; text-align: center; font-weight: bold;
	position: relative;
}
dl#Statistics dt img{
	width: 100px; height: 100px;
	position: absolute; top: 0;
}
dl#Statistics dt img.host{
	left: 0;
}
dl#Statistics dt img.away{
	right: 0;
}
dl#Statistics dd{
	height: 40px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;
}
dl#Statistics dd + dd{
	margin-top: 16px;
}
dl#Statistics dd p.name{
	width: 156px; height: 40px;
	font-size: 24px; line-height: 40px; text-align: center; color: #999;
}
dl#Statistics dd p.number{
	width: 100px; height: 40px;
	font-size: 28px; line-height: 40px; text-align: center;
}
dl#Statistics dd p.line{
	height: 8px;
	border-radius: 4px;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
	overflow: hidden;
}
dl#Statistics dd p.line span{
	height: 8px;
	border-radius: 4px;
	display: block;
}
dl#Statistics dd p.host span{
	background: #e1223a;
	float: right;
}
dl#Statistics dd p.away span{
	background: #ff6602;
	float: left;
}

div#Event{
	padding: 28px 0 150px;
}
div#Event dl{
	margin-top: 64px;
	position: relative;
}
div#Event dl:before{
	width: 2px;
	margin-left: -1px;
	background: #d8d8d8;
	position: absolute; top: 0; bottom: 0; left: 50%;
	content: '';
}
div#Event dl dt{
	height: 24px;
	font-size: 24px; line-height: 24px; text-align: center;
	position: absolute; left: 0; right: 0;
}
div#Event dl dt.end{
	color: #bdbdbd;
}
div#Event dl dt:first-child{
	padding-bottom: 72px;
	background: url(/img/customer2/icon_video_end.png) no-repeat center bottom 24px; background-size: 30px;
	top: -92px;
}
div#Event dl dt:first-child:before{
	width: 18px; height: 18px;
	margin-left: -9px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; top: 81px; left: 50%;
	content: '';
}
div#Event dl dt:last-child{
	padding-top: 72px;
	background: url(/img/customer2/icon_video_begin.png) no-repeat center 24px; background-size: 30px;
	bottom: -92px;
}
div#Event dl dt:last-child:before{
	width: 18px; height: 18px;
	margin-left: -9px;
	border-radius: 50%;
	background: #d8d8d8;
	position: absolute; bottom: 81px; left: 50%;
	content: '';
}
div#Event dl dd{
	min-height: 60px;
	padding-bottom: 40px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
	position: relative;
}
div#Event dl dt + dd{
	padding-top: 40px;
}
div#Event dl dd.host{
	padding-right: 50%;
}
div#Event dl dd.away{
	padding-left: 50%;
}
div#Event dl dd p.minute{
	width: 56px; height: 56px;
	border: 2px solid #d8d8d8; border-radius: 50%;
	background: #ededed;
	font-size: 24px; line-height: 56px; text-align: center; color: #666;
	position: absolute; top: 0; z-index: 1;
}
div#Event dl dt + dd p.minute{
	top: 40px;
}
div#Event dl dd p.minute span{
	position: absolute;
}
div#Event dl dd.host p.minute{
	margin-right: -30px;
	right: 50%;
}
div#Event dl dd.away p.minute{
	margin-left: -30px;
	left: 50%;
}
div#Event dl dd ul{
	margin: -10px 0;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
div#Event dl dd.host ul{
	padding-left: 10px;
	text-align: right;
}
div#Event dl dd.aways ul{
	padding-right: 10px;
	text-align: left;
}
div#Event dl dd ul li{
	font-size: 28px; line-height: 40px;
	position: relative;
}
div#Event dl dd.host ul li{
	padding-right: 94px;
}
div#Event dl dd.away ul li{
	padding-left: 94px;
}
div#Event dl dd ul li img{
	width: 30px; height: 30px;
	position: absolute; top: 5px;
}
div#Event dl dd.host ul li img{
	right: 47px;
}
div#Event dl dd.away ul li img{
	left: 47px;
}


/*微信*/
#WX{
	background: url(/img/bg_club_share.png) no-repeat right top rgba(0,0,0,0.4); background-size: 640px;
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999;
}


/*@media only screen and (min-device-width: 320px) and (min-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}*/


















