
body{
	padding: 44px 0 0;
	background: #fff;
}

.bg_con{
	height: 320px;
	background-repeat: no-repeat; background-size: cover; background-position: center;
	position: fixed; top: 44px; left: 0; right: 0; z-index: -1;
}
.bg_con:before{
	background: rgba(0,0,0,0.5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	content: '';
}


h1{
	padding: 57px 12px;
	font-size: 22px; line-height: 33px; color: #fff;
}

#Introduction{
	margin: 0 12px;
	background: url(/img/mobile/v2/image_trank_n.png) no-repeat center top; background-size: 100% auto;
	position: relative;
}
#Introduction:before{
	height: 0;
	border-width: 16px 160px 16px 160px; border-style: solid; border-color: transparent transparent #fff #fff; 
	position: absolute; top: 108px; left: -12px; z-index: 0;
	content: '';
}
#Introduction:after{
	background: #fff;
	position: absolute; top: 140px; bottom: 0; left: -12px; right: -12px; z-index: 0;
	content: '';
}
#Introduction .modify{
	height: 62px;
	padding-top: 46px;
	position: relative; z-index: 2;
	overflow: hidden;
}
#Introduction .modify:before{
	width: 200%; height: 200%;
	background: #fff;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
	transform: rotate(8.5deg); -ms-transform: rotate(8.5deg); -webkit-transform: rotate(8.5deg); -o-transform: rotate(8.5deg); -moz-transform: rotate(8.5deg);
	transform-origin: left top; -ms-transform-origin: left top; -webkit-transform-origin: left top; -o-transform-origin: left top; -moz-transform-origin: left top;
	display: block;
	content: '';
}
#Introduction .modify:after{
	width: 30px; height: 30px;
	background: url(/img/mobile/v2/icon_l_n.png) no-repeat center; background-size: 30px;
	position: absolute; top: 32px; left: 10px; z-index: 3;
	content: '';
}
#Introduction p.introduction_text{
	padding: 16px 20px 44px;
	background: url(/img/mobile/v2/icon_s_n.png) no-repeat right 14px bottom 14px #fff; background-size: 20px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
	font-size: 15px; line-height: 22px; text-align: left; color: #494949;
	position: relative; z-index: 1;
}
#Introduction p.introduction_text:after{
	height: 1px; width: 127px;
	background: #b0b0b0;
	position: absolute; bottom: 22px; right: 49px;
	content: '';
}
#Introduction p.author_text{
	height: 17px;
	font-size: 0; line-height: 0; z-index: 2;
	position: absolute; left: 20px; bottom: 14px; right: 49px;
	overflow: hidden;
}
#Introduction p.author_text span{
	height: 17px;
	padding-right: 14px;
	background: #fff;
	font-size: 12px; line-height: 17px; color: #a15e5e;
	display: inline-block;
}



#Content{
	padding: 40px 12px 9px;
	background: #fff;
}
#Content p{
	/*margin-bottom: 30px;*/
	font-size: 16px; line-height: 24px; text-align: left; color: #6a6464;
}
#Content img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}









