
body{
	/*padding-top: 90px;*/
}

#Content{
	margin-bottom: 60px;
}
#Content .inner:after{
	display: block;
	clear: both;
	content: '';
}


#Right{
	width: 33%;
	float: right;
}
#Right dl{
	margin-bottom: 10px;
	background: #fff;
}
#Right dl dt{
	height: 38px;
	padding-left: 34px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px; line-height: 38px; color: #393939;
	position: relative;
}
#Right dl dt:before{
	width: 4px; height: 20px;
	margin-top: -10px;
	background: #4492fd;
	position: absolute; left: 20px; top: 50%;
	content: '';
}
#Right dl dd{
	margin-left: 20px; padding: 10px 20px 6px 0;
}
#Right dl dd + dd{
	border-top: 1px solid #e6e6e6;
}
#Right dl dd .info{
	height: 22px;
	font-size: 12px; line-height: 22px; color: #7b7b7b;
	overflow: hidden;
}
#Right dl dd.live .info:before{
	width: 58px; height: 22px;
	border-radius: 2px 2px 12px 2px;
	background: #c94e55;
	text-align: center; color: #fff;
	display: block;
	content: '直播中';
	float: right;
}
#Right dl dd .match{
	height: 40px;
	font-size: 14px; line-height: 40px; text-align: center; color: #393939;
	overflow: hidden;
}
#Right dl dd .line{
	height: 22px;
	font-size: 0; text-align: center;
}
#Right dl dd .line a{
	height: 22px;
	padding: 0 10px;
	border-radius: 11px;
	font-size: 12px; line-height: 22px; text-align: center; color: #3c72bc;
	display: inline-block;
}
#Right dl dd .line a:hover{
	background: #7ba8e6;
	color: #fff;
}
#Right dl dd .line a + a{
	margin-left: 10px;
}

#Left{
	margin-right: 33%; padding-right: 12px;
}
#Left .con{
	padding: 24px 0 0 20px; margin-bottom: 10px;
	background: #fff;
}
#Left .con h1{
	margin-bottom: 24px; padding-left: 2px;
	font-size: 20px; line-height: 32px; color: #333;
}
#Left .con .info{
	padding: 0 30px 16px 2px;
	border-bottom: 1px solid #e2e2e7;
	font-size: 12px; line-height: 12px; color: #999;
}
#Left .con .info span{
	float: right;
}
#Left .con .detail{
	padding: 20px 36px 50px 5px;
}
#Left .con .detail p{
	/*padding-bottom: 30px;*/
	font-size: 14px; line-height: 24px; color: #010000;
}
#Left .con .detail img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

#Left .other{
	padding-bottom: 10px;
	background: #fff;
}
#Left .other .title{
	height: 38px;
	padding-left: 34px; margin-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px; line-height: 38px; color: #393939;
	position: relative;
}
#Left .other .title:before{
	width: 4px; height: 20px;
	margin-top: -10px;
	background: #4492fd;
	position: absolute; left: 20px; top: 50%;
	content: '';
}
#Left .other a{
	width: 50%; height: 32px;
	font-size: 14px; line-height: 32px; text-align: left; color: #393939;
	overflow: hidden;
	float: left;
}
#Left .other a:hover{
	color: #4492fd;
}
#Left .other a:before{
	width: 20px;
	display: inline-block;
	content: '';
}

@media screen and (max-width: 1280px){ 
	#Left .other a{
		height: 26px;
		font-size: 12px; line-height: 26px;
	}
}


/*关键词*/
#LatinWords{
	height: 300px; width: 100%;
	padding-top: 40px;
	background: #fff;
	position: relative;
}
#LatinWords .title{
	height: 38px;
	padding-left: 34px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px; line-height: 38px; color: #393939;
	position: absolute; top: 0; left: 0; right: 0;
}
#LatinWords .title:before{
	width: 4px; height: 20px;
	margin-top: -10px;
	background: #4492fd;
	position: absolute; left: 20px; top: 50%;
	content: '';
}
#LatinWords_in{
	height: 300px;
	overflow: hidden;
}
#LatinWords_in > a{
	display: none;
}














