

body,html{
	height: 100%; width: 100%;
	background: #000;
	margin: 0; padding: 0;
}
body{
	background: no-repeat center; background-size: cover;/**url(/img/pc/image_video_bg.jpg) **/
}


#MyFrame{
	width: 100%; height: 100%;
	overflow: hidden;
}
#MyFrame p.noframe,
#MyFrame p.loading{
	height: 100%;
	padding-top: 60px;
	background: #000;
	font-size: 18px; line-height: 42px; text-align: center; color: #fff; letter-spacing: 2px;
}
#MyFrame p.noframe img{
	width: 160px;
	margin: 40px auto 20px;
	display: block;
}
#MyFrame p.noframe span,#MyFrame p.noframe b{
	font-size: 24px; color: #edf74c;
}
#MyFrame p.loading img{
	width: 102px;
	margin: 0 auto 40px;
	display: block;
}
#MyFrame p.loading{
	position: absolute; left: 0; right: 0; top: 0; z-index: 0;
}
#MyFrame iframe{
	width: 100%; height: 100%;
	border: none;
}

p#ShareWarm{
	height: 36px;
	background: #bc1c25;
	font-size: 16px; line-height: 36px; text-align: center; color: #fff;
	position: absolute; top: 0; left: 0; right: 0;
}

p#ShareWarm a,p#ShareWarm span{
	padding: 0 4px;
	color: yellow;
}

































