

body,html{
	height: 100%; width: 100%;
	background: #000;
	margin: 0; padding: 0;
}
body{
	background: url(/img/pc/image_video_bg.jpg) no-repeat center; background-size: cover;
}
body .inner{
	width: 100%; height: 100%;
}


#MyFrame{
	width: 100%; height: 100%;
	overflow: hidden;
}
#MyFrame p.noframe,
#MyFrame p.loading{
	height: 100%;
	padding-top: 60px;
	background: #000;
	font-size: 18px; line-height: 42px; text-align: center; color: #fff; letter-spacing: 2px;
}
#MyFrame p.noframe img{
	width: 160px;
	margin: 40px auto 20px;
	display: block;
}
#MyFrame p.noframe span,#MyFrame p.noframe b{
	font-size: 24px; color: #edf74c;
}
#MyFrame p.loading img{
	width: 102px;
	margin: 0 auto 40px;
	display: block;
}
#MyFrame p.loading{
	position: absolute; left: 0; right: 0; top: 0; z-index: 0;
}
#MyFrame iframe{
	width: 100%; height: 100%;
	border: none;
}

p#ShareWarm{
	height: 36px;
	background: #bc1c25;
	font-size: 16px; line-height: 36px; text-align: center; color: #fff;
	position: absolute; top: 0; left: 0; right: 0;
}

p#ShareWarm a,p#ShareWarm span{
	padding: 0 4px;
	color: yellow;
}



#PhoneAD{
	background: #000;
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999;
	text-align: center;
}
#PhoneAD img{
	max-width: 100%; max-height: 100%;
}
#PhoneAD .time{
	font-size: 24px; line-height: 80px; text-align: right; color: #fff;
	position: absolute; top: 0; right: 20px;
}
#PhoneAD .time b{
	color: #e5f73e;
}

/*微信*/
/*电脑效果*/
#WxAdd{
	width: 160px;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	font-size: 12px; line-height: 20px; text-align: center; color: #fff;
	position: absolute; top: 0; left: 0; right: 0; z-index: 500;
}
#WxAdd p.input{
	height: 24px;
	margin: 5px 0 10px;
}
#WxAdd input{
	width: 90px; height: 24px;
	padding: 0 5px;
	vertical-align: top;
	border: none; border-radius: 4px 0 0 4px;
}
#WxAdd button.com{
	width: 40px; height: 24px;
	border-radius: 0 4px 4px 0;
	background: #fff;
	font-size: 12px; text-align: center; color: #1267dc;
}
#WxAdd button.get{
	width: 60px; height: 24px;
	border-radius: 4px;
	background: #1267dc;
	font-size: 12px; text-align: center; color: #fff;
}
#WxAdd span.close{
	margin-left: 10px;
	font-size: 12px; line-height: 24px; color: #bcbcbc;
	cursor: pointer;
}
#WxAdd p.app{
	display: none;
}
#WxAdd p.app img{
	width: 80%;
	margin: 12px auto 8px;
	display: block;
}
#WxAdd.close{
	width: 80px; height: 12px;
	overflow: hidden;
	cursor: pointer;
}
#WxAdd.close input, #WxAdd.close p, #WxAdd.close button.com, #WxAdd.close button.get, #WxAdd.close span.close{
	display: none;
}
#WxAdd p.show{
	font-size: 12px; line-height: 12px; text-align: center; color: #fff;
	display: none;
}
#WxAdd.close p.show{
	display: block;
}
/*手机效果*/
body.bb{
	box-sizing: border-box;
	padding-bottom: 70px;
}
#WxAddPhone{
	height: 36px;
	padding: 17px 10px;
	background: rgba(0,0,0,0.8);
	position: absolute; bottom: 0; left: 0; right: 0;
	text-align: center;
}
#WxAddPhone p{
	font-size: 24px; line-height: 36px; text-align: left; color: #fff;
	display: inline-block;
}
#WxAddPhone p span{
	padding: 0 8px;
	color: #4492fd;
}
#WxAddPhone p + p{
	margin-left: 20px;
}
#WxAddPhone input{
	height: 36px; width: 100px;
	padding: 0 4px;
	border: none; border-radius: 4px 0 0 4px;
	line-height: 30px;
}
textarea#Copy{
	width: 0; height: 0;
	visibility: hidden;
	position: absolute;
}
#WxAddPhone button{
	width: 100px; height: 36px;
	border-radius: 0 4px 4px 0;
	background: #4492fd;
	font-size: 22px; color: #fff;
}


#CloseADCode{
	position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 500;
}
#CloseADCode .in{
	width: 496px; height: 236px;
	margin: -120px 0 0 -250px;
	border-radius: 4px; border: 2px solid #4492fd;
	background: #fff;
	text-align: center;
	position: absolute; top: 50%; left: 50%;
}
#CloseADCode .in p.title{
	background: #4492fd;
	font-size: 16px; line-height: 42px; text-align: center; color: #fff;
}
#CloseADCode .in button.close{
	width: 42px; height: 42px;
	background: url(/img/pc/icon_close_btn_white.png) no-repeat center; background-size: 16px;
	position: absolute; top: 0; right: 0;	
}
#CloseADCode .in div.input{
	width: 210px; height: 120px;
	padding: 20px; margin-top: 20px;
	border-right: 1px solid #bdbdbd;
	text-align: center;
	float: left;
}
#CloseADCode .in div.input input{
	height: 38px; width: 200px;
	padding: 0;
	border-radius: 4px; border: 1px solid #4492fd;
	font-size: 14px; line-height: 38px; text-align: center;
}
#CloseADCode .in div.input button{
	width: 160px; height: 30px;
	margin-top: 16px;
	border-radius: 4px;
	background: #4492fd;
	font-size: 12px; text-align: center; color: #fff;
}
#CloseADCode .in img{
	width: 140px; height: 140px;
	margin-top: 16px;
}
#CloseADCode .in p.text{
	font-size: 12px; line-height: 24px; text-align: center; color: #999;
}