
.moreVideo{
	
}
.moreVideo div.labelbox{
	height: 42px;
	margin-top: 10px;
	border-bottom: 1px solid #dbdbdb;
	background: #fff;
}
.moreVideo .labelbox button, .moreVideo .labelbox a{
	height: 42px;
	margin-left: 4%;
	border-radius: 0;
	background: #fff;
	font-size: 16px; text-align: center; line-height: 42px; color: #242526;
	position: relative;
	display: block;
	float: left;
}
.moreVideo .labelbox button:first-child, .moreVideo .labelbox a:first-child{
	margin-left: 20px;
}
.moreVideo .labelbox button:hover,.moreVideo .labelbox button.on,
.moreVideo .labelbox a:hover,.moreVideo .labelbox a.on{
	color: #4492fd;
}
.moreVideo .labelbox button:hover:after,.moreVideo .labelbox button.on:after,
.moreVideo .labelbox a:hover:after,.moreVideo .labelbox a.on:after{
	height: 3px;
	background: #4492fd;
	position: absolute; bottom: 0; left: 0; right: 0;
	content: '';
}
.moreVideo .list{
	padding: 0 10px 10px;
	background: #fff;
}
.moreVideo .list .match{
	height: 50px;
	margin: 0 -10px;
    background: #f1f7fc;
    font-size: 14px; line-height: 50px; text-align: center; color: #242526;
    position: relative;
    clear: both;
}
.moreVideo .list .match span.time{
	min-width: 40px; height: 24px;
    margin-top: -12px; padding: 0 10px;
    border-radius: 0 12px 12px 0;
    background: #83a0d7;
    line-height: 24px; color: #fff;
    position: absolute; top: 50%; left: 0;
}
.moreVideo .list .match span.host {
    width: 40%;
    height: 50%;
    text-align: right;
    display: inline-block;
}
.moreVideo .list .match span.away {
    width: 40%;
    height: 50%;
    text-align: left;
    display: inline-block;
}
.moreVideo .list .match span.score {
    width: 16%;
    max-width: 120px;
    height: 50px;
    display: inline-block;
}
.moreVideo .list a{
	font-size: 14px; line-height: 20px; text-align: center;
	float: left;
	display: inline-block;
}
.moreVideo .list a:hover{
	color: #4492fd;
}
.moreVideo .list a p{
	padding: 0 10px; margin-bottom: 10px;
}
.moreVideo .list a.big{
	width: 20%;
}
.moreVideo .list a.big img{
	width: 94%;
	margin: 20px 3% 10px;
	display: block;
}
.moreVideo .list a.small{
	width: 25%; height: 20px;
	margin: 5px 0;
	text-align: left;
	overflow: hidden;
}
.moreVideo .list a.small p{
	padding-left: 20px;
	position: relative;
}
.moreVideo .list a.small p:before{
	width: 4px; height: 4px;
	background: #dadada;
	position: absolute; top: 8px; left: 8px;
	content: '';
}


#Page{
	height: 26px;
	padding: 22px 0;
	border-top: 1px solid #dbdbdb;
	background: #fff;
	font-size: 0px; text-align: center;
}
#Page a{
	height: 24px; min-width: 14px;
	padding: 0 5px;
	border-radius: 2px; border: 1px solid #adadad;
	font-size: 12px; line-height: 24px; text-align: center; color: #adadad;
	display: inline-block;
}
#Page a + a{
	margin-left: 14px;
}
#Page a.up + a{
	margin-left: 50px;
}
#Page a:hover{
	border-color: #4492fd;
	color: #4492fd;
}
#Page a.up, #Page a.down{
	width: 54px;
	border: 1px solid #4492fd;
	color: #4492fd;
}
#Page a.on{
	border-color: #4492fd;
	background: #4492fd;
	color: #fff;
}
#Page p{
	width: 50px; height: 26px;
	font-size: 12px; line-height: 26px; text-align: center; color: #adadad;
	display: inline-block;
}
#Page p span{
	color: #4492fd;
}







