@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,button { margin: 0; padding: 0; border: 0; outline: 0; font-style: inherit; font-size: 100%; font-family: inherit; }
:focus { outline: 0; }
table { border-collapse: separate; border-spacing: 0; overflow: auto; table-layout: fixed;}
caption, th, td { font-weight: normal;}
a img, iframe { border: none; padding: 0px;}
ol, ul { list-style: none; }
input, textarea, select, button { font-size: 100%; box-shadow:none; margin: 0; padding: 0; line-height: normal;}
input:focus, textarea:focus{ border-color: rgba(222,32,55,0.5) !important;}
select { margin: 0; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
select::-ms-expand { display: none; }
div{max-height: 999999px;}
ol { margin-left:2em; }
em{ font-style:normal; }
a{text-decoration:none; -webkit-tap-highlight-color: rgba(255,255,255,0);}
a,a:link,a:visited,a:active{ color: inherit; cursor: pointer; -webkit-tap-highlight-color:rgba(0,0,0,0); color: #4492fd;}
button{ text-align: center; border: 0px; cursor: pointer; -webkit-tap-highlight-color:rgba(0,0,0,0);}
input:-webkit-autofill { background-color: none; } 
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0; }
input[type="number"]{-moz-appearance:textfield;}
label{cursor: pointer;}

/*body高度适配*/
html{height: 100%;}
body{
	min-height: 100%;
	padding: 90px 14% 176px;
	background: url(http://static.cdn.dlfyb.com/img/pc/image_bg.jpg) no-repeat center top #f2f2f2; background-size: 100% auto; color: #000; font-weight: normal; font: 12px/20px 'PingFang','PingFangSC-Regular','苹方',Tahoma, Helvetica, Arial,'微软雅黑',sans-serif;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	position: relative;
}

/*基础样式*/
.hidden{visibility: hidden;}
.clear{clear: both;}

.inner{
	max-width: 1224px; min-width: 550px;
	margin: 0 auto;
	position: relative;
}

.default{
	position: relative;
}
.default .title{
	height: 50px;
	border-bottom: 2px solid #4492fd;
	background: #fff;
	position: relative;
}
.default .title p{
	height: 50px;
	padding-left: 26px;
	font-size: 16px; line-height: 50px; text-align: left; color: #242526;
	position: relative;
}
.default .title p:before{
	width: 6px; height: 30px;
	background: #4492fd;
	position: absolute; top: 10px; left: 10px;
	content: '';
}
.default .title a{
	margin-right: 16px;
	font-size: 12px; line-height: 34px; color: #999;
	float: right;
}

/*无内容*/
.noList{
	padding: 160px 0 40px;
	background: url(http://static.cdn.dlfyb.com/img/pc/bg_nolist.png) no-repeat center 40px #fff !important; background-size: 120px !important;
	font-size: 16px; line-height: 24px; text-align: center; color: #999;
	display: none;
}
.noList:first-child,
.title + .noList{
	display: block;
}

/*顶部*/
#Navigation{
	height: 60px;
	padding: 0 14%;
	background: #fff;
	box-shadow: 0px 2px 6px 0px rgba(0, 49, 117, 0.5);
	position: fixed; top: 0; left: 0; right: 0; z-index: 10;
}
#Navigation h1{
	width: 0; height: 0;
	position: absolute; top: 0; left: 0;
	overflow: hidden;
}
#Navigation .inner{
	height: 58px;
	/*background: url(http://static.cdn.dlfyb.com/img/pc/image_slogan.png) no-repeat center; background-size: 120px;*/
	font-size: 0;
	position: initial;
}
#Navigation img.icon{
	height: 44px;
	display: block;
	float: left;
	position: relative; top: 8px;
}
#Navigation a.column{
	height: 60px; width: 9%; min-width: 40px; max-width: 120px;
	margin-left: 60px;
	font-size: 22px; line-height: 60px; text-align: center; color: #000;
	position: relative;
	display: inline-block;
}
#Navigation a.column + a.column{
	margin-left: 2.2%;
}
#Navigation a.column:hover, #Navigation a.on{
	background: #4492fd;
	color: #fff;
}
#Navigation img.icon + a.column{
	margin-left: 5% !important;
}
#Navigation .inner p.wx{
	height: 58px;
	font-size: 16px; line-height: 58px; text-align: right;
	position: absolute; right: 2%; top: 0;
}
#Navigation .inner p.wx span{
	color: #c52601;
}
#Navigation .inner p.wx img{
	width: 140px; height: 140px;
	position: absolute; top: 58px; right: 0;
	box-shadow: 0px 5px 16px 0px rgba(68, 146, 253, 0.4);
	display: none;
}
#Navigation .inner p.wx:hover img{
	display: block;
}
#Navigation .inner a.save{
	margin-right: 20px;
	font-size: 16px; line-height: 58px; color: #1267dc;
	float: right;
}


#Link{
	height: 30px;
	padding: 0 12%;
	background: url(http://static.cdn.dlfyb.com/img/pc/entrance_bg_n.jpg) no-repeat center #4492fd; background-size: auto 30px;
	text-align: center;
	position: fixed; top: 60px; left: 0; right: 0; z-index: 9;
}
#Link a{
	height: 30px;
	padding: 0 12px;
	font-size: 14px; line-height: 30px; text-align: center; color: #fff;
	display: inline-block;
}
#Link a:hover{
	background: #004ba6;
}
#Link a + a{
	margin-left: 12px;
}

/*面包屑*/
#Crumb{
	height: 40px;
	margin-top: -20px;
	font-size: 12px; line-height: 40px; color: #d4d4d4;
}
#Crumb a{
	color: #d4d4d4;	
}
#Crumb a:hover, #Crumb .on{
	color: #fff;
}

/*内容*/
#Content{
	max-width: 1224px; min-width: 550px;
	margin: 20px auto 0;
}
#Content .inner{

}
#Content .inner table{
	width: 100%;
}

/*底部*/
#Bottom{
	height: 120px;
	padding: 30px 0 26px;
	background: #f2f2f2;
	font-size: 14px; line-height: 30px; text-align: center; color: #808488;
	position: absolute; bottom: 0; left: 0; right: 0;
}
#Bottom a{
	margin-left: 18px;
}
#Bottom a,a:link,a:visited,a:active{
	color: #808488;
}
#Bottom .business a{
	margin-left: 0;
	color: #bc1c25;
}


/*弹框*/
.pop{
	background: rgba(40,0,0,0.5);
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 300;
}

/*广告*/
.adbanner{
	margin: 0 auto;
}
* + .adbanner{
	margin-top: 10px;
}
#Crumb + .adbanner{
	margin-top: 0;
}
.adflag{
	max-width: 208px; width: 11%;
	position: fixed; top: 110px;
}
.adflag a, .adbanner a{
	display: block;
	position: relative;
}
.adflag button.close,.adbanner button.close{
	width: 40px; height: 20px;
	background: none;
	position: absolute; right: 4px; top: 6px;
}
.adflag.left{
	margin-left: -50%; padding-left: 2%;
	left: 50%;
}
.adflag.right{
	margin-right: -50%; padding-right: 2%;
	right: 50%;
}
.adbanner a, .adbanner img,
.adflag a, .adflag img{
	width: 100%;
	display: block;
}
.adflag a + a{
	margin-top: 10px;
}
.adbanner img.show{
	width: 200px;
	margin-left: -100px;
	box-shadow: 0px 0px 20px #000;
	position: absolute; bottom: 60%; left: 50%;
	display: none;
}
.adbanner:hover img.show{
	display: block;
}




@media screen and (max-width: 1280px){
	#Navigation a.column{
		width: 8.5%;
		margin-left: 1.5% !important;
		font-size: 17px;
		vertical-align: top;
	}
	#Navigation .inner p.wx{
		font-size: 14px;
	}
	#Bottom{
		font-size: 12px;
	}
}


















