body{
	padding-bottom: 200px;
}

img.logo{
	position: absolute;
	display: none;
}

.default{
	margin-bottom: 0;
	border: none;
}
.day{
	height: 44px;
	background: #f2f2f2;
	font-size: 24px; line-height: 44px;	text-align: center; color: #666;
	position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
}

.default a{
	height: 110px;
	padding: 16px 104px 0 24px;
	background: url(../img/icon_right.png) no-repeat right center #fff; background-size: 74px;
	position: relative;
	vertical-align: top;
	/*display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;*/
	display: block;
	overflow: hidden;
}
.default a + a{
	border-top: 1px solid #e6e6e6;
}
.default a p.time{
	font-size: 22px; line-height: 24px; color: #666;
	position: absolute; top: 22px; left: 24px;
}
.default a p.vs{
	width: 60px; height: 134px;
	font-size: 32px; line-height: 134px; text-align: center; font-weight: bold; color: #2e70c9;
	vertical-align: top;
	display: inline-block;
}
.default a p.vs img{
	height: 80px;
	margin: 26px auto 0;
	display: block;
}
.default a p.team{
	height: 134px; max-width: 288px;
	font-size: 32px; line-height: 134px;
	vertical-align: top;
	/*-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;*/
	display: inline-block;
	overflow: hidden;
}
.default a p.live{
	width: 90px; height: 44px;
	margin-top: -22px;
	background: #bc1c25;
	border-radius: 4px;
	font-size: 22px; line-height: 44px; text-align: center; color: #fff;
	position: absolute; top: 50%; right: 20px;
}
.default a p.other{
	font-size: 32px; line-height: 94px;
}

#Navigation{
	background: #bc1c25;
}
#Navigation p.type{
	height: 100%; width: 100%;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
#Navigation p.type button[name=type]{
	height: 100%;
	border-radius: 0;
	background: #2e70c9;
	font-size: 28px; text-align: center; color: #7598ea;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
	position: relative;
	display: block;
}
#Navigation p.type button#Allball{
	left: 0;
}
#Navigation p.type button#Football{
	left: 0;
}
#Navigation p.type button#Basketball{
	right: 0;
}
#Navigation p.type button[name=type].on{
	background: none;
	color: #fff;
}
#Navigation p.type button[name=type].on:after{
	width: 80px; height: 6px;
	margin-left: -40px;
	border-radius: 3px;
	background: #fff;
	position: absolute; bottom: 6px; left: 50%;
	content: '';
}

#PC{
	padding: 6px 16px;
	background: rgba(68,148,253,0.8);
	font-size: 24px; line-height: 34px; text-align: center; color: #fff;
	position: fixed; bottom: 100px; left: 0; right: 0; z-index: 2;
}
#PC button.close{
	width: 24px; height: 24px;
	margin-top: -12px;
	background: url(../img/icon_close_btn_white.png) no-repeat center; background-size: 24px;
	position: absolute; top: 50%; right: 16px;
}


.nolist{
	padding-top: 300px !important;
	background: url(../img/bg_vip_nolist.png) no-repeat center 50px; background-size: 240px;
}



