body{
	padding-top: 310px;
}
img.logo{
	position: absolute;
	display: none;
}


#Video{
	margin-bottom: 0; padding-top: 210px;
	position: fixed; top: 44px; left: 0; right: 0; z-index: 2;
}
#Video mip-iframe{
	width: 100%; height: 210px;
	background: #333; 
	position: absolute; bottom: 44px; left: 0;
	display: block;
}
#Video a{
	width: 100%; height: 210px;
	background: url(http://static.dlfyb.com/img/pc/icon_pause_n@2x.png) no-repeat center #333; background-size: 70px;
	position: absolute; bottom: 44px; left: 0;
	display: block;
}
/*内容区域*/
#Content{
	
}
#Record{
	padding: 0 8px;
	background: #fff;
	font-size: 0; line-height: 0;
}
#Record .title{
	height: 50px;
	margin: 0 -8px; padding-left: 22px;
	font-size: 14px; line-height: 50px; color: #565656;
	position: relative;
}
#Record .title:after{
	height: 7px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #5c95e4;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Record .title:before{
	height: 20px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #d1d8f0;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Record .item{
	width: 50%;
	padding-bottom: 10px;
	display: inline-block;
}
#Record .item a{
	margin: 0 4px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 2px 7px 0 rgba(2, 33, 127, 0.1);
	overflow: hidden;
	display: block;
}
#Record .item a mip-img{
	height: 100px;
}
#Record .item a .con{
	height: 40px;
	font-size: 14px; line-height: 40px; text-align: center; color: #565656;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}


/*微信*/
#WX{
	background: url(http://static.dlfyb.com/img/mobile/bg_club_share.png) no-repeat right top rgba(0,0,0,0.4); background-size: 640px;
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999;
}