@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  font-style: inherit; font-size: 100%; font-family: inherit; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; overflow: auto;}
caption, th, td { font-weight: normal; }
a img, iframe { border: none; padding: 0px;}
ol, ul, li { list-style: none; }
input, textarea, select, button { font-size: 100%; box-shadow:none; margin: 0; padding: 0; -webkit-appearance: none;}
input:focus, textarea:focus{ background: #fff !important;}
select { margin: inherit; appearance:none; -moz-appearance:none; -webkit-appearance:none;}
div,a,p,label{max-height: 999999px; color: inherit;}
ol { margin-left:2em; }
em{ font-style:normal}
body{background-color: #f3f3f3; font-family: 'PingFang','苹方','STHeitiSC-Light','MicrosoftYaHei','微软雅黑'; padding: 44px 0 0; text-align: left; color: #494949; -webkit-text-size-adjust: none;}
a{text-decoration:none; -webkit-tap-highlight-color: rgba(255,255,255,0);}
a,a:link,a:visited,a:hover,a:active{ color: inherit; cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
button{padding: 0px; margin: 0px; border: 0px; cursor: pointer;-webkit-tap-highlight-color:rgba(0,0,0,0); text-align: center; font-family: 'PingFang','苹方','STHeitiSC-Light','MicrosoftYaHei','微软雅黑';}
input:-webkit-autofill { background-color: none; } 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-ms-touch-action: manipulation;touch-action: manipulation;}

/*基础样式*/
.hidden{visibility: hidden;}
.clear{clear: both;}

/*默认框*/
.default{
	margin-bottom: 10px;
	border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;
	background: #fff;
	display: block;
	position: relative;
}
.default[close]{
	height: 40px;
	overflow: hidden;
}
.default > div.title{
	min-height: 40px;
	padding: 0 20px 0 30px;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
	font-size: 16px; line-height: 40px; color: #2e66b4; font-weight: bold;
	position: none; position: sticky; position: -webkit-sticky; position: -ms-sticky; position: -o-sticky; top: 44px; left: 0; right: 0; z-index: 11;
}
.default > div.title:before{
	width: 7px; height: 3px;
	border-top: 10px solid #2e66b4; border-bottom: 7px solid #7cb2fe;
	background: #3d85e7;
	position: absolute; top: 10px; left: 12px;
	content: '';
}
.default > div.title > a{
	padding-right: 25px;
	margin-right: -15px;
	/*background: url(../../img/customer2/icon_right.png) no-repeat right center; background-size: 60px;*/
	float: right;
	font-size: 14px; text-align: right; color: #999; font-weight: normal;
}
.default > div.title > span{
	float: right;
	font-size: 12px; text-align: right; color: #999; font-weight: normal;
}
.default > div.title > button.close{
	height: 40px;
	padding-right: 16px; margin-right: -4px;
	/*background: url(../../img/customer2/bg_show_rotate.png) no-repeat right center; background-size: 22px;*/
	float: right;
	font-size: 12px; text-align: right; color: #e1223a; font-weight: normal;
	display: block;
	float: right;
}
.default[close] > div.title > button.close{
	/*background: url(../../img/customer2/bg_show.png) no-repeat right center; background-size: 22px;*/
}
.default > div.title > button.close:before{
	content: '收起';
}
.default[close] > div.title > button.close:before{
	content: '展开';
}

/*表单*/
.default > table{
	width: 100%;
}
.default > table th{
	height: 35px;
	background: #f3f3f3;
	font-size: 12px; line-height: 16px; text-align: center; color: #7e7e7e;
}
.default div.title + table th{
	border-top: none;
}
.default > table td{
	border-top: 1px solid #e6e6e6;
	font-size: 14px; line-height: 18px; text-align: center; color: #494949;
}

/*顶部*/
#Navigation{
	min-height: 44px;
	background: #fff;
	/*border-bottom: 1px solid #ddd;*/
	position: fixed; top: 0; left: 0; right: 0; z-index: 100002;
	transition: top 0.2s; -moz-transition: top 0.2s; -webkit-transition: top 0.2s; -o-transition: top 0.2s;
}
#Navigation > h1{
	width: 0; height: 0;
	position: absolute; top: 0; left: 0;
	overflow: hidden;
}
#Navigation > *:nth-child(n+2){
	border-top: 1px solid #ddd;
}
#Navigation .banner{
	height: 44px;
	background: url(http://static.dlfyb.com/img/mobile/image_bg_focus_n.jpg) no-repeat left top #4492fd; background-size: cover;
	font-size: 18px; line-height: 44px; text-align: center; color: #fff; font-weight: bold;
}
#Navigation .banner h1{
	font-size: inherit;
}
#Navigation .banner mip-img{
	height: 26px; width: 75px;
	margin: 9px 0;
}
#Navigation .clean{ /*清空按钮*/
    height: 44px;
    background: #fff;
    font-size: 12px; color: #e1223a; font-weight: normal;
    position: absolute; right: 15px; top: 0;
    display: block;
}
a.home{
	width: 44px; height: 44px;
	background: url(http://static.dlfyb.com/img/mobile/icon_home_white.png) no-repeat center; background-size: 28px;
	position: fixed; top: 0; left: 2px; z-index: 52;
	display: block;
}

/*顶部滚动效果*/
#Navigation .runningTab{
	height: 44px;
	padding: 0 10px;
	background: #bc1c25;
	overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch;
	white-space: nowrap;
	position: relative;
}
#Navigation .runningTab:after{
	width: 5px; height: 44px;
	background: #bc1c25;
	box-shadow: -5px 0 5px 0 #bc1c25;
	position: fixed; top: 0; right: -5px;
	content: '';
}
#Navigation .runningTab input{
	width: 0; height: 0;
	visibility: hidden; opacity: 0;
	position: absolute; top: 0; left: 0;
}
#Navigation .runningTab a,#Navigation .runningTab label{
	padding: 0 10px;
	font-size: 16px; line-height: 44px; text-align: center; color: #fff;
	position: relative;
	display: inline-block;
}
#Navigation .runningTab a.on:before, #Navigation .runningTab input:checked + label:before{
	width: 24px; height: 3px;
	margin-left: -12px;
	border-radius: 2px;
	background: #fff;
	position: absolute; bottom: 3px; left: 50%;
	content: '';
}

/*TAB*/
div.tab{
	height: 40px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	position: relative; left: 0; right: 0; z-index: 3;
}
div.tab input[type=radio]{
	width: 0; height: 0;
	visibility: hidden;
	position: absolute;
}
div.tab label,
div.tab a{
	height: 40px;
	font-size: 14px; line-height: 40px; text-align: center; color: #a7a1a1; font-weight: normal;
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
div.tab input[type=radio]:checked + label,
div.tab a.on{
	color: #bc1c25;
}
div.tab label span,
div.tab a span{
	height: 100%;
	display: inline-block;
	position: relative;
}
div.tab input[type=radio]:checked + label span:before,
div.tab a.on span:before{
	height: 3px; width: 24px;
	margin-left: -12px;
	background: #bc1c25;
	border-radius: 2px;
	position: absolute; bottom: 3px; left: 50%;
	content: '';
}
div.tab label[new]:after,
div.tab a[new]:after{
	width: 7px; height: 7px;
	margin: 5px 0 0 3px;
	border-radius: 50%;
	background: #bc1c25;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	content: '';
}
div.tab label span,
div.tab a span{
	height: 100%;
	display: inline-block;
}

/*无内容状态*/
.nolist{
	display: none;
}
.nolist:first-child, #Navigation + .nolist{
	display: block;
}

/*分隔线*/
.separated{
	padding: 4px 10px; margin-bottom: 8px;
	font-size: 12px; line-height: 16px; text-align: center; color: #bdbdbd;
}
.separated[class*=nolist]{ /*搭配nolist做效果*/
	padding: 16px 10px;
}

/*托底*/
dl#Bottom{
	height: 49px;
	background: #fff;
	border-top: 1px solid #e6e4e4;
	position: fixed; bottom: 0; left: 0; right: 0; z-index: 50;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
dl#Bottom dd{
	height: 100%;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
	position: relative;
}
dl#Bottom dd[new]:after{
	width: 7px; height: 7px;
	margin-left: 10px;
	border-radius: 50%;
	background: #e1223a;
	position: absolute; top: 5px; left: 50%;
	content: '';
}
dl#Bottom dd a{
	height: 100%;
	display: block;
}
dl#Bottom dd mip-img{
	height: 24px; width: 24px;
	margin: 6px auto 0;
	display: block;
}
dl#Bottom dd p{
	height: 16px;
	padding-top: 2px;
	font-size: 10px; line-height: 16px; text-align: center; color: #999;
	overflow: hidden;
}
dl#Bottom dd.on p{
	color: #4492fe;
}

/*顶部banner*/
div#Banner{
	height: 60px;
	background: #fff;
	position: fixed; top: 0; left: 0; right: 0; z-index: 49;
	overflow: hidden;
}
div#Banner .inner{
	height: 40px;
	padding: 10px 88px 20px 65px;
	background: #fff;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%); -o-transform: translateX(100%); -moz-transform: translateX(100%);
}
div#Banner img{
	width: 40px; height: 40px;
	margin-top: -20px;
	border-radius: 50%;
	position: absolute; top: 50%; left: 15px;
}
div#Banner img.icon{
	border-radius: 4px;
}
div#Banner p{
	max-height: 40px;
	font-size: 14px; line-height: 20px;
	overflow: hidden;
}
div#Banner p.liaogou{
	max-height: 15px;
	padding-top: 22px;
	/*background: url(../../img/customer2/icon_nav_middle.png) no-repeat -6px -20px; background-size: 90px;*/
	font-size: 14px; line-height: 15px;
}
div#Banner a{
	width: 60px; height: 26px;
	margin-top: -13px;
	border-radius: 3px;
	background: #e1223a;
	font-size: 16px; line-height: 26px; text-align: center; color: #fff;
	position: absolute; top: 50%; right: 15px;
}
div#Banner dl{
	height: 2px;
	text-align: center;
	position: absolute; bottom: 5px; left: 0; right: 0;
}
div#Banner dl dd{
	width: 10px; height: 100%;
	background: #ddd;
	display: inline-block; vertical-align: top;
}
div#Banner dl dd + dd{
	margin-left: 5px;
}
div#Banner[type='0'] dl dd:nth-child(1),
div#Banner[type='1'] dl dd:nth-child(2),
div#Banner[type='2'] dl dd:nth-child(3),
div#Banner[type='3'] dl dd:nth-child(4),
div#Banner[type='4'] dl dd:nth-child(5),
div#Banner[type='5'] dl dd:nth-child(6){
	background: #e1223a;	
}
div#Banner[type='0'] .inner:nth-child(1),
div#Banner[type='1'] .inner:nth-child(2),
div#Banner[type='2'] .inner:nth-child(3),
div#Banner[type='3'] .inner:nth-child(4),
div#Banner[type='4'] .inner:nth-child(5),
div#Banner[type='5'] .inner:nth-child(6){
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
	transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); -o-transform: translateX(0); -moz-transform: translateX(0);
}
div#Banner[type='0'] .inner:nth-child(6),
div#Banner[type='1'] .inner:nth-child(1),
div#Banner[type='2'] .inner:nth-child(2),
div#Banner[type='3'] .inner:nth-child(3),
div#Banner[type='4'] .inner:nth-child(4),
div#Banner[type='5'] .inner:nth-child(5){
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
	transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%); -o-transform: translateX(-100%); -moz-transform: translateX(-100%);
}
div#Banner[class*=hidden]{
	visibility: visible;
	opacity: 0;
	z-index: -1;
}
div#Banner[class*=show] + div#Navigation{
	border-top: 1px solid #ddd;
	top: 60px;
}
div#Banner[class*=show] + div#Navigation + *,
div#Banner[class*=show] + div#Navigation + #typeList + *,
div#Banner[class*=show] + div#Navigation + a.home + *{
	margin-top: 60px;
}
div#Banner[class*=show] ~ .default .title{
	top: 60px;
}

/*确认弹框*/
div#ComfirmBox{
	background: rgba(0,0,0,0.6);
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 60;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center;
}
div#ComfirmBox .default{
	width: 80%; max-width: 80%;
	margin: auto;
	border-radius: 2px;
	box-shadow: none;
	position: relative; top: -32px;
}
div#ComfirmBox .default .title{
	padding-left: 23px;
	position: relative; top: 0;
}
div#ComfirmBox .default .title:before{
    width: 3px; height: 13px;
    top: 13px;
}
div#ComfirmBox .comText{
	padding: 10px 15px;
	font-size: 14px; line-height: 20px;
}
div#ComfirmBox .comText h4{
	font-size: 14px; font-weight: bold;
}
div#ComfirmBox .comText p + p, div#ComfirmBox .comText p + span, div#ComfirmBox .comText span + p, div#ComfirmBox .comText p + h4{
	padding-top: 8px;
}
div#ComfirmBox .comText span{
	font-size: 12px; color: #999;
	display: block;
}
div#ComfirmBox .comText b{
	padding: 0 2px; color: #e1223a;
}
div#ComfirmBox div.btn{
	height: 40px;
	margin: 0 10px; 
	border-top: 1px solid #e6e6e6;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
div#ComfirmBox div.btn button{
	height: 40px;
	background: #fff;
	font-size: 14px; color: #494949;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
	overflow: hidden;
	position: relative;
}
div#ComfirmBox div.btn button + button:before{
	width: 1px;
	background: #e6e6e6;
	position: absolute; top: 10px; bottom: 10px; left: 0;
	content: '';
}
div#ComfirmBox div.btn button.comfirm{
	color: #e1223a;
}

/*加载及状态弹框*/
div#Alert{
	background: rgba(0,0,0,0.1);
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 300; /*Loading等状态alert框高度300*/
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; /*适配各个浏览器*/
	-webkit-box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; /*适配各个浏览器*/
	display: flex; align-items: center;
}
div#Alert[status=error]{
	background: rgba(0,0,0,0);
}
div#Alert > div.loading, div#Alert > div.success{
	width: 110px; height: 18px;
	padding: 57px 10px 13px; margin: -44px 0 0 -65px;
	border-radius: 2px;
	background: #fff;
	font-size: 12px; line-height: 18px; text-align: center; color: #2B3D45;
	position: absolute; top: 50%; left: 50%;
	visibility: hidden;
	opacity: 0; filter:Alpha(opacity=0);
	-ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert > div.error{
	max-width: 200px;
	padding: 10px 15px; margin: 0 auto;
	background: rgba(0,0,0,0.8);
	border-radius: 2px;
	font-size: 12px; line-height: 18px; text-align: center; color: #fff;
	visibility: hidden;
	opacity: 0; filter:Alpha(opacity=0);
	-ms-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert.hidden > div.loading, div#Alert.hidden > div.success, div#Alert.hidden > div.error{
	-ms-transform: scale(1.1) !important; -webkit-transform: scale(1.1) !important; -o-transform: scale(1.1) !important; -moz-transform: scale(1.1) !important; transform: scale(1.1) !important;
	opacity: 0 !important; filter:Alpha(opacity=0) !important;
}
div#Alert > div.loading:before, div#Alert > div.success:before{
	width: 32px; height: 32px;
	margin-left: -16px;
	position: absolute; top: 15px; left: 50%;
	content: '';
}
div#Alert[status=loading] > div.loading, div#Alert[status=success] > div.success, div#Alert[status=error] > div.error{
	visibility: inherit;
	opacity: 1; filter:Alpha(opacity=100);
	-ms-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1); transform: scale(1);
}
div#Alert > div.loading:before{
	/*background: url(../../img/customer2/icon_loading_ring.png) no-repeat center; background-size: 64px;*/
	-moz-animation: loading 0.5s linear infinite; -webkit-animation: loading 0.5s linear infinite; -o-animation: loading 0.5s linear infinite; animation: loading 0.5s linear infinite;
}
div#Alert > div.success:before{
	/*background: url(../../img/customer2/icon_loading_draw.png) no-repeat center; background-size: 64px;*/
	-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg);
	-moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
div#Alert[status=success] > div.success:before{
	-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);
}

@keyframes loading{
	from {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}
	to {-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg);}
}

/*公用广告位*/
div.publicAd{
    background-size: 30px;
}
div.publicAd mip-img{
	width: 100%;
	display: block;
}
div.publicAd p{
    height: 49px;
    padding: 0 30px; margin-left: 15px;
    /*background: url(../../img/customer2/icon_right.png) no-repeat right center; background-size: 66px;*/
    font-size: 16px; line-height: 49px;
    position: relative;
}
div.publicAd p > mip-img{
	width: 30px; height: 30px;
	margin-top: -15px;
	position: absolute; top: 50%; left: -4px;
}
div.publicAd p > span{
	font-size: 12px; color: #999;
	float: right;
}
div.publicAd button{
	width: 25px; height: 25px;
	background: none;
	position: absolute; top: 0; right: 0;
}
