img.logo{
	position: absolute;
	display: none;
}

#Video{
	margin-bottom: 0;
	border: none;
	background: #000;
	overflow: hidden;
}
#Video .line{
	height: 30px;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
	overflow: hidden;
}
#Video .line button{
	height: 30px;
	background: #2e70c9;
	font-size: 12px; color: #7598ea;
	position: relative;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
#Video .line button.on{
	background: #4492fd;
	color: #fff;
}
#Video .line button:first-child:before,
#Video .line button.on:before,
#Video .line button.on + button:before{
	display: none;
}
#Video .line button:disabled{
	color: #999;
}
#Video iframe{
	width: 100%; height: 210px;
	background: #333;
	display: block;
}
#Video .outPlay{
	width: 100%; height: 210px;
	/*background: url(../../img/customer2/bg_video.jpg) no-repeat center; background-size: cover;*/
	position: relative;
}
#Video .outPlay:before{
	background: rgba(0,0,0,0.5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	content: '';
}
#Video .outPlay img{
	height: 33px;
	padding-top: 155px; margin: 0 auto;
	position: relative; z-index: 1;
	display: block;
}
#Video .outPlay p.reciprocal{
	padding-top: 4px;
	font-size: 12px; line-height: 24px; text-align: center; color: #bdbdbd;
	position: relative; z-index: 1;
}
#Video .outPlay p.reciprocal span{
	font-size: 18px; line-height: 18px; text-align: center; color: #fff;
	display: block;
}
#Video .outPlay p.end{
	padding-top: 4px;
	font-size: 14px; line-height: 24px; text-align: center; color: #bdbdbd;
	position: relative; z-index: 1;
}

.tabbox{
	height: 40px;
	box-shadow: 0 2px 2px 0 rgba(127, 2, 2, 0.17);
	display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
.tabbox button{
	height: 40px;
	background: #fff;
	font-size: 14px; text-align: center;
	position: relative;
	-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;
}
.tabbox button.on{
	color: #e1223a;
}
.tabbox button.on:before{
	width: 44px; height: 2px;
	margin-left: -55px;
	background: #e1223a;
	position: absolute; bottom: 0; left: 50%;
	content: '';
}

/*内容区域*/
#Content{

}
#Content section{
	box-shadow: 0 2px 2px 0 rgba(2, 33, 127, 0.17);
	position: relative; z-index: 10;
}

#Data{

}
#Data .default{
	padding: 5px 12px 0;
}
#Data .title{
	height: 50px;
	margin: 0 -12px; padding-left: 22px;
	font-size: 14px; line-height: 50px; color: #565656;
	position: relative;
}
#Data .title:after{
	height: 7px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #5c95e4;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Data .title:before{
	height: 20px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #d1d8f0;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Data table{
	width: 100%;
}
#Data table th{
	height: 34px;
	background: none;
	font-size: 13px; line-height: 18px; text-align: center; color: #7e7e7e;
}
#Data table td{
	height: 50px;
	font-size: 13px; line-height: 18px; text-align: center; color: #565656;
}
#Data table td:first-child, #Data table td span{
	color: #7e7e7e;
}
#Data table td:nth-child(2){
	font-size: 12px;
}
#Data table td:last-child{
	color: #c1c9d4;
}
#Data table td:last-child a{
	color: #4492fd;
}

#Player{
	
}
#Player .default{
	padding: 5px 12px 0;
}
#Player .title{
	height: 50px;
	margin: 0 -12px; padding-left: 22px;
	font-size: 14px; line-height: 50px; color: #565656;
	position: relative;
}
#Player .title:after{
	height: 7px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #5c95e4;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Player .title:before{
	height: 20px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #d1d8f0;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Player table{
	width: 100%;
}
#Player table th{
	height: 34px;
	background: none;
	font-size: 13px; line-height: 18px; text-align: center; color: #7e7e7e;
}
#Player table td{
	height: 50px;
	border-top: 1px solid #e0e3ea;
	font-size: 13px; line-height: 18px; text-align: center; color: #565656;
}
#Player table td p{
	width: 22px; height: 22px;
	margin: 0 auto;
	border-radius: 4px;
	background: #6d93c6;
	font-size: 14px; line-height: 22px; color: #fff;
}

#Technology{
	
}
#Technology .title{
	height: 50px;
	margin: 0 -12px; padding-left: 22px;
	font-size: 14px; line-height: 50px; color: #565656;
	position: relative;
}
#Technology .title:after{
	height: 7px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #5c95e4;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Technology .title:before{
	height: 20px; width: 4px;
	border-radius: 0 0 2px 2px;
	background: #d1d8f0;
	position: absolute; top: 15px; left: 12px;
	content: '';
}
#Technology table{
	width: 100%;
}
#Technology .default{
	padding: 5px 12px 0;
	background: #fff;
}
#Technology .count table td{
	height: 44px;
	font-size: 14px; line-height: 18px; text-align: center; color: #565656;
}
#Technology .count table td:nth-child(2), #Technology table td:nth-child(4){
	width: 40px;
}
#Technology .count table td:nth-child(3){
	width: 90px;
}
#Technology .count table td p{
	height: 8px;
	background: #6d93c6;
	display: inline-block;
}
#Technology .count table td:first-child p{
	border-radius: 4px 0 0 4px;
	float: right;
}
#Technology .count table td:last-child p{
	border-radius: 0 4px 4px 0;
	float: left;
}
#Technology .event table th{
	height: 34px;
	background: #fff;
	font-size: 14px; line-height: 18px; text-align: center; color: #7e7e7e;
}
#Technology .event table td{
	height: 50px;
	font-size: 13px; line-height: 18px; text-align: center; color: #565656;
}
#Technology .event table td:nth-child(3){
	background: #f9f9f9;
}
#Technology .event table td span{
	font-size: 12px; color: #7e7e7e;
}
#Technology .event table td:nth-child(3){
	width: 40px;
}
#Technology .event table td:nth-child(2), #Technology .event table td:nth-child(4){
	width: 55px;
	color: #6d93c6;
}
#Technology .event table td:nth-child(1), #Technology .event table td:nth-child(5){
	width: 100px;
}

#News{
	background: #fff;
}
#News a{
	height: 80px;
	padding: 10px 0 10px 130px; margin: 0 12px;
	position: relative;
	display: block;
}
#News a + a{
	border-top: 1px solid #e0e3ea;
}
#News mip-img{
	width: 120px;
	position: absolute; top: 10px; left: 0; bottom: 10px;
	float: left;
}
#News .con{
	height: 80px; width: 100%;
	font-size: 16px; line-height: 24px; color: #565656;
	vertical-align: middle;
	display: table-cell;
}

#Record{
	padding: 15px 8px 0;
	background: #fff;
	font-size: 0; line-height: 0;
}
#Record .item{
	width: 50%;
	padding-bottom: 10px;
	display: inline-block;
}
#Record .item a{
	margin: 0 4px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(2, 33, 127, 0.1);
	overflow: hidden;
	display: block;
}
#Record .item a mip-img{
	height: 100px;
}
#Record .item a .con{
	height: 40px;
	font-size: 14px; line-height: 40px; text-align: center; color: #565656;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

/*微信*/
#WX{
	background: url(http://static.dlfyb.com/img/mobile/bg_club_share.png) no-repeat right top rgba(0,0,0,0.4); background-size: 320px;
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 999;
}


/*@media only screen and (min-device-width: 320px) and (min-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait){ 
	#Video{
		position: sticky; position: -webkit-sticky; top: 88px; z-index: 2;
	}
	.tabbox{
		position: sticky; position: -webkit-sticky; top: 596px; z-index: 2;
	}
}*/


















